:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.swiper-slide {
  display: block;
}

.intro-slides {


  ion-slide {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    h2 {
      margin-top: 0.8rem;
      font-size: 2em;
    }

    img {
      max-height: 50%;
      max-width: 60%;
      margin: 36px 0;
    }
    p{
      max-width: 600px;
    }
  }
}