<ion-content fullscreen padding scroll-y="false">
  <ion-slides pager #mySlider class="intro-slides" [options]="slideOpts" (ionSlideWillChange)="getIndex()">
    <ion-slide padding-bottom>
      <img src="../../../assets/img/slide-1.png" />
      <h2>Recomendações de Manejo</h2>
      <p>Nesta parte você encontra o posicionamento de inseticidas e herbicidas que o auxiliam no controle de pragas e
        plantas daninhas que podem causar danos econômicos a sua lavoura.</p>
    </ion-slide>

    <ion-slide padding-bottom>
      <img src="../../../assets/img/slide-2.png" />
      <h2>Guias de Identificação</h2>
      <p>Quer saber as características de daninhas de folha larga ou estreita? Quais as diferenças entre lagartas?
        Acesse nossos guias e tenha a informação de forma simples e rápida.</p>
    </ion-slide>

    <ion-slide padding-bottom>
      <img src="../../../assets/img/slide-3.png" />
      <h2>Boas práticas</h2>
      <p>Saiba mais sobre como uma boa condução da sua lavoura pode ajudá-lo a alcançar altos tetos produtivos. Fique
        atento as nossas dicas agronômicas e fique cada vez mais preparado para enfrentar os desafios do dia a dia na
        lavoura.</p>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer no-border class="ion-padding">
  <ion-button routerDirection="forward" *ngIf="!disableNextBtn" fill="none" routerLink="/home">Pular</ion-button>
  <ion-button (click)="swipeNext()" routerDirection="forward" *ngIf="!disableNextBtn"
    class="default-bayer ion-float-right">Próximo <img src="../../../assets/icon/arrow-btn.svg" alt=""></ion-button>
    <ion-button routerLink="/home" routerDirection="forward" *ngIf="disableNextBtn"
    class="default-bayer ion-float-right" style="width: 250px;">Vamos começar <img src="../../../assets/icon/arrow-btn.svg" alt=""></ion-button>
</ion-footer>