ion-content{
    section{
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }
    .opacity-0{
        opacity: 0;
    }
    ion-grid{
        max-width: 500px;
    }

    label{
        display: inline-table;
        //line-height: inherit;
        white-space:nowrap;
    }

    .plan{

      width: auto;
    
    }
}

.contentWrapper{
    margin-top: -15px;
}
.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}