<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-buttons style="margin-right: 10%;" slot="secondary">
      <ion-button routerLink="/home/recomendacoes" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Herbicidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>
  <section class="contentWrapper" id="regiao">
    <h4>Região</h4>
    <p>
      Escolha uma das macro regiões abaixo ou se preferir, utilize sua própria
      localização.
    </p>

    <ion-grid>
      <ion-row no-padding>
        <ion-col size="6" *ngFor="let item of regioes">
          <div class="plan">
            <input
              (change)="scrollTo('#daninhas')"
              type="radio"
              [(ngModel)]="regiao"
              name="radio1"
              id="{{ item }}"
              value="{{ item }}"
            /><label
              class="basic-label four col ion-text-wrap"
              for="{{ item }}"
              >{{ item }}</label
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <section id="daninhas" class="opacity-0">
    <span>&nbsp;</span>
    <div>
      <h4>Plantas Daninhas</h4>
      <p>
        Escolha a planta daninha problema em sua área (no máximo até 2 plantas
        juntas).
      </p>

      <ion-grid>
        <ion-row no-padding>
          <ion-col size="12" *ngFor="let item of plantas_daninha">
            <div class="plan">
              <input
                (change)="scrollTo('#cultura')"
                type="radio"
                [(ngModel)]="planta_daninha"
                name="{{ item.planta_daninha }}"
                id="{{ item.planta_daninha }}"
                value="{{ item.planta_daninha }}"
              />
              <label
                [ngStyle]="{
                  'background-image': 'url(assets/img/' + item.plantaUrl + ')',
                  'background-repeat': 'no-repeat',
                  'background-size': 'contain',
                  'padding-left': item.plantaUrl.length > 13 ? '50px' : '20px'
                }"
                class="basic-label four col"
                for="{{ item.planta_daninha }}"
                >{{ item.planta_daninha }}</label
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section id="cultura" class="opacity-0">
    <span>&nbsp;</span>
    <div>
      <h4>Cultura</h4>
      <p>Escolha o cultivo da sua safra de verão.</p>

      <ion-grid>
        <ion-row no-padding>
          <ion-col size="12" *ngFor="let item of culturas">
            <div class="plan d-row">
              <input
                (change)="scrollTo('#sistema')"
                type="radio"
                [(ngModel)]="cultura"
                name="{{ item.cultura }}"
                id="{{ item.cultura }}"
                value="{{ item.cultura }}"
              />
              <label
                [ngStyle]="{
                  'background-image': 'url(assets/img/' + item.imgUrl + ')',
                  'background-repeat': 'no-repeat',
                  'background-size': 'contain'
                }"
                class="basic-label four col"
                for="{{ item.cultura }}"
                >{{ item.cultura }}</label
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section id="sistema" class="opacity-0">
    <span>&nbsp;</span>
    <div style="margin-bottom: 35vh;">
      <h4>Sistema (Próxima cultura/cultura de inverno)</h4>
      <p>Escolha qual cultura você plantará após sua safra de verão</p>

      <ion-grid>
        <ion-row no-padding>
          <ion-col size="12" *ngFor="let item of sistemas">
            <div class="plan">
              <input
                (change)="scrollTo('#submit-button', item)"
                type="radio"
                [(ngModel)]="sistema"
                name="{{ item.sistema }}"
                id="{{ item.sistema }}"
                value="{{ item.sistema }}"
              /><label class="basic-label four col" for="{{ item.sistema }}">{{
                item.sistema
              }}</label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section
    class="ion-padding opacity-0"
    id="submit-button"
    style="margin-top:15vh"
  >
    <ion-button
      (click)="recomendacaoPage()"
      routerDirection="forward"
      class="default-bayer"
      color="secondary"
    >
      Visualizar recomendaçōes
      <img src="../../../assets/icon/arrow-btn.svg" alt=""
    /></ion-button>
  </section>
</ion-content>
