// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.alertStyle .alert-wrapper {
    max-width: 500px !important;
  }


.logo-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
    width: 120px;
}

.toolbar-content{
        --background-color: var(--ion-color-primary-2)
    }

    .navmenu{
        ion-item{
            --background: #345669;
            color: white;
        }
        ion-icon{
            fill: white;
            color: white;
        }
    }

