<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="secondary">
          <img src="../assets/icon/logo-white.svg" class="logo-app" />
        </ion-toolbar>
      </ion-header>
      <ion-content color="secondary" class="navmenu">
        <ion-list background="secondary" class="ion-no-padding">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" color="secondary">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" fill="white" ></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
