<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <ion-buttons style="margin-right: 10%;" slot="secondary">
      <ion-button routerLink="/home" routerDirection="forward">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-title>Boas Práticas</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="swiper-no-swiping">
  <ion-grid class="ion-padding">
    <ion-row [ngClass]="[devWidth < 376 ? 'reduceMargin' : '']">
      <ion-col
        class="mandalaText"
        *ngIf="selectedArc === 'Caminho_3956'"
        size-xs="12"
        size-md="6"
      >
        <!-- <ion-col size="12">
          <h3>Boas Práticas agronômicas</h3>
          <p>Fique atento ao passo a passo de práticas agronômicas que te ajudam a ter uma lavoura mais protegida e
            produtiva</p>
        </ion-col> -->
        <ion-col size-xs="12" size-md="6">
          <h3>Monitoramento/ identificação de pragas</h3>
          <p>
            É a prática que gera informações sobre a situação das pragas na
            cultura, avalia possíveis danos e prejuízos e define o momento da
            aplicação de inseticida.
          </p>
        </ion-col>
      </ion-col>
      <ion-col
        class="mandalaText"
        *ngIf="selectedArc === 'Caminho_3971'"
        size-xs="12"
        size-md="6"
      >
        <!-- <ion-col size="12">
            <h3>Boas Práticas agronômicas</h3>
            <p>Fique atento ao passo a passo de práticas agronômicas que te ajudam a ter uma lavoura mais protegida e
              produtiva</p>
          </ion-col> -->
        <ion-col size-xs="12" size-md="6">
          <h3>Dessecação Antecipada</h3>
          <p [ngClass]="[showMore ? 'show' : 'showLess']">
            O objetivo primário desta prática é manejar as plantas daninhas ou
            coberturas, sendo fundamental na instalação do plantio direto. Isso
            favorece a redução da população de pragas, principalmente lagartas,
            porque elimina a fonte de alimento, o local de oviposição e o abrigo
            das pragas.
          </p>
          <p *ngIf="!showMore" (click)="handleShowMore()">Ver Mais</p>
        </ion-col>
      </ion-col>
      <ion-col
        class="mandalaText"
        *ngIf="selectedArc === 'Caminho_3969'"
        size-xs="12"
        size-md="6"
      >
        <!-- <ion-col size="12">
              <h3>Boas Práticas agronômicas</h3>
              <p>Fique atento ao passo a passo de práticas agronômicas que te ajudam a ter uma lavoura mais protegida e
                produtiva</p>
            </ion-col> -->
        <ion-col size-xs="12" size-md="6">
          <h3>Biotecnologia</h3>
          <p [ngClass]="[showMore ? 'show' : 'showLess']">
            Biotecnologia Nunca se esqueça, porém, de que a biotecnologia é uma
            entre várias ferramentas dentro de um sistema de manejo. Apesar de
            seu valor ser muito reconhecido pelos agricultores, não devemos
            tratá-la como ferramenta única, mas sim com uma parte do Manejo
            Integrado de Pragas.
          </p>
          <p *ngIf="!showMore" (click)="handleShowMore()">Ver Mais</p>
        </ion-col>
      </ion-col>
      <ion-col
        class="mandalaText"
        *ngIf="selectedArc === 'Caminho_3959'"
        size-xs="12"
        size-md="6"
      >
        <!-- <ion-col size="12">
                <h3>Boas Práticas agronômicas</h3>
                <p>Fique atento ao passo a passo de práticas agronômicas que te ajudam a ter uma lavoura mais protegida e
                  produtiva</p>
              </ion-col> -->
        <ion-col size-xs="12" size-md="6">
          <h3>Tratamento de Sementes</h3>
          <p>
            Nesse caso, o objetivo é controlar pragas  de solo e iniciais da
            cultura. Usando tratamento de sementes com inseticidas, é possível
            protege-las durante germinação e emergência.
          </p>
          <!-- <a target="_blank" href="" class="linkKnowMore">Saiba mais...</a> -->
        </ion-col>
      </ion-col>
      <ion-col
        class="mandalaText"
        *ngIf="selectedArc === 'Caminho_3958'"
        size-xs="12"
        size-md="6"
      >
        <!-- <ion-col size="12">
                  <h3>Boas Práticas agronômicas</h3>
                  <p>Fique atento ao passo a passo de práticas agronômicas que te ajudam a ter uma lavoura mais protegida e
                    produtiva</p>
                </ion-col> -->
        <ion-col size-xs="12" size-md="6">
          <h3>Áreas de Refúgio</h3>
          <p>
            Objetivo do refúgio é manter uma população de pragas sensíveis às
            proteínas Bt que transmita essa característica às gerações futuras.
            Isso faz com que a tecnologia continue funcionando a longo prazo.
          </p>
        </ion-col>
      </ion-col>

      <ion-col
        class="mandalaText"
        *ngIf="selectedArc === 'Caminho_3954'"
        size-xs="12"
        size-md="6"
      >
        <!-- <ion-col size="12">
                    <h3>Boas Práticas agronômicas</h3>
                    <p>Fique atento ao passo a passo de práticas agronômicas que te ajudam a ter uma lavoura mais protegida e
                      produtiva</p>
                  </ion-col> -->
        <ion-col size-xs="12" size-md="6">
          <h3>Controle de Plantas Daninhas e Voluntárias</h3>
          <p>
            Esse controle é fundamental, porque as plantas daninhas e
            voluntárias são hospedeiras de pragas e agem como ponte verde.
          </p>
        </ion-col>
      </ion-col>

      <ion-col
        class="mandalaText"
        *ngIf="selectedArc === 'Caminho_3999'"
        size-xs="12"
        size-md="6"
      >
        <!-- <ion-col size="12">
                      <h3>Boas Práticas agronômicas</h3>
                      <p>Fique atento ao passo a passo de práticas agronômicas que te ajudam a ter uma lavoura mais protegida e
                        produtiva</p>
                    </ion-col> -->
        <ion-col size-xs="12" size-md="6">
          <h3>Controle Biológico e Químico</h3>
          <p [ngClass]="[showMore ? 'show' : 'showLess']">
            O monitoramento de pragas é importante para que o controle das
            pragas alvo sempre estiverem acima no nível de dano econômico seja
            feita através de inseticidas.
          </p>
          <p *ngIf="!showMore" (click)="handleShowMore()">Ver Mais</p>
          <!-- <a target="_blank" href="" class="linkKnowMore">Saiba mais...</a> -->
        </ion-col>
      </ion-col>
      <ion-col class="mandalaWrapper" size-xs="12" size-md="6" text-center>
        <svg
          class="mandalaSvg"
          height="376.992"
          version="1.0"
          id="Camada_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 400 400"
          style="enable-background:new 0 0 400 400;"
          xml:space="preserve"
        >
          <style type="text/css">
            .st0 {
              fill: #108000;
            }

            .st1 {
              fill: #0075a6;
            }

            .st2 {
              fill: #ffffff;
              font-weight: 600;
            }

            .st3 {
              font-family: "Helvetica-Bold";
            }

            .st4 {
              font-size: 19.9786px;
            
            }

            .st5 {
              font-family: "Helvetica";
            }

            .st6 {
              font-size: 11px;
            }
          </style>
          <rect x="101.3" y="104.9" class="st0" width="193.3" height="191.7" />
          <path
            id="Rounded_Rectangle_1_copy_6"
            class="st1"
            (click)="handleClick('Caminho_3958')"
            [ngClass]="[
              selectedArc === 'Caminho_3958'
                ? 'mandalaArc selected'
                : 'mandalaArc unselected'
            ]"
            d="M105.5,205.6l76,94.1c18.7,23.1,15.1,57-8.1,75.7c-23.1,18.7-57,15.1-75.7-8.1
	l-76-94.1C3,250.1,25,239,48.1,220.3S86.8,182.4,105.5,205.6z"
          />
          <path
            id="Caminho_3954"
            class="st1"
            (click)="handleClick('Caminho_3954')"
            [ngClass]="[
              selectedArc === 'Caminho_3954'
                ? 'mandalaArc selected'
                : 'mandalaArc unselected'
            ]"
            d="M139.4,131.5L112,249.4c-6.7,28.9-35.6,47-64.6,40.3S0.5,254,7.2,225
	l27.3-117.9c6.7-28.9,29-18.5,58-11.8S146.1,102.5,139.4,131.5z"
          />
          <path
            id="Caminho_3999"
            (click)="handleClick('Caminho_3999')"
            [ngClass]="[
              selectedArc === 'Caminho_3999'
                ? 'mandalaArc selected'
                : 'mandalaArc unselected'
            ]"
            class="st1"
            d="M218.8,111.2l-108.3,54c-26.6,13.3-58.9,2.4-72.2-24.2s-2.4-58.9,24.2-72.2
	l108.3-54c26.6-13.3,32.7,10.6,46,37.2C230.1,78.7,245.4,98,218.8,111.2z"
          />
          <path
            id="Caminho_3956"
            (click)="handleClick('Caminho_3956')"
            [ngClass]="[
              selectedArc === 'Caminho_3956'
                ? 'mandalaArc selected'
                : 'mandalaArc unselected'
            ]"
            class="st1"
            d="M283.9,162.4L174.8,110c-26.8-12.9-38.1-45-25.2-71.8s45-38.1,71.8-25.2
	l109.1,52.4c26.8,12.9,11.7,32.4-1.2,59.1C316.5,151.3,310.7,175.3,283.9,162.4z"
          />
          <path
            id="Caminho_3971"
            (click)="handleClick('Caminho_3971')"
            [ngClass]="[
              selectedArc === 'Caminho_3971'
                ? 'mandalaArc selected'
                : 'mandalaArc unselected'
            ]"
            class="st1"
            d="M284,245.2l-26.9-118c-6.6-29,11.5-57.8,40.5-64.4s57.8,11.5,64.4,40.5
	l26.9,118c6.6,29-18,29.3-47,35.9C313,263.8,290.6,274.2,284,245.2z"
          />
          <path
            id="Caminho_3969"
            (click)="handleClick('Caminho_3969')"
            (fill)="(selectedArc === 'Caminho_3969' ? '#66b512' : '#f4f4f4')"
            [ngClass]="[
              selectedArc === 'Caminho_3969'
                ? 'mandalaArc selected'
                : 'mandalaArc unselected'
            ]"
            class="st1"
            d="M220.6,297l75.2-94.8c18.5-23.3,52.3-27.2,75.6-8.7s27.2,52.3,8.7,75.6
	l-75.2,94.8c-18.5,23.3-34.1,4.3-57.4-14.2S202.1,320.3,220.6,297z"
          />
          <path
            id="Caminho_3959"
            (click)="handleClick('Caminho_3959')"
            [ngClass]="[
              selectedArc === 'Caminho_3959'
                ? 'mandalaArc selected'
                : 'mandalaArc unselected'
            ]"
            class="st1"
            d="M140.9,278.9h121c29.7,0,53.8,24.1,53.8,53.8s-24.1,53.8-53.8,53.8h-121
	c-29.7,0-24.6-24.1-24.6-53.8S111.1,278.9,140.9,278.9z"
          />
          <path
            id="Caminho_3958"
            class="st1"
            (click)="handleClick('Caminho_3958')"
            [ngClass]="[
              selectedArc === 'Caminho_3958'
                ? 'mandalaArc selected'
                : 'mandalaArc unselected'
            ]"
            d="M181.5,299.7c18.7,23.1,15.1,57-8.1,75.7c-23.1,18.7-57,15.1-75.7-8.1
	l-38.1-49.7L149,261L181.5,299.7z"
          />
          <text
            transform="matrix(1 0 0 1 180.4136 183.6133)"
            class="st2 st3 st4"
          >
            MIP
          </text>
          <text
            transform="matrix(1 0 0 1 159.8745 207.5879)"
            class="st2 st3 st4"
          >
            E BOAS
          </text>
          <text
            transform="matrix(1 0 0 1 147.1147 231.5615)"
            class="st2 st3 st4"
          >
            PRÁTICAS
          </text>
          <text
            (click)="handleClick('Caminho_3956')"
            [ngClass]="[
              selectedArc === 'Caminho_3956' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 162.9995 57.8877)"
            class="st2 st5 st6"
          >
            MONITORAMENTO/
          </text>
          <text
            (click)="handleClick('Caminho_3956')"
            [ngClass]="[
              selectedArc === 'Caminho_3956' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 172.6304 79.0938)"
            class="st2 st5 st6"
          >
            IDENTIFICAÇÃO
          </text>
          <text
            (click)="handleClick('Caminho_3956')"
            [ngClass]="[
              selectedArc === 'Caminho_3956' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 182.8081 100.3008)"
            class="st2 st5 st6"
          >
            DE PRAGAS
          </text>
          <text
            transform="matrix(1 0 0 1 279.6191 130.2695)"
            class="st2 st5 st6"
            (click)="handleClick('Caminho_3971')"
            [ngClass]="[
              selectedArc === 'Caminho_3971' ? 'selectedText' : 'unselectedText'
            ]"
          >
            DESSECAÇÃO
          </text>
          <text
            transform="matrix(1 0 0 1 281.9785 151.4756)"
            class="st2 st5 st6"
            (click)="handleClick('Caminho_3971')"
            [ngClass]="[
              selectedArc === 'Caminho_3971' ? 'selectedText' : 'unselectedText'
            ]"
          >
            ANTECIPADA
          </text>
          <text
            (click)="handleClick('Caminho_3969')"
            [ngClass]="[
              selectedArc === 'Caminho_3969' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 287.291 253.207)"
            class="st2 st5 st6"
          >
            BIOTECNOLOGIA
          </text>
          <text
            (click)="handleClick('Caminho_3959')"
            [ngClass]="[
              selectedArc === 'Caminho_3959' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 218.2793 324.168)"
            class="st2 st5 st6"
          >
            TRATAMENTO
          </text>
          <text
            (click)="handleClick('Caminho_3959')"
            [ngClass]="[
              selectedArc === 'Caminho_3959' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 214.0645 345.374)"
            class="st2 st5 st6"
          >
            DE SEMENTES
          </text>
          <text
            (click)="handleClick('Caminho_3958')"
            [ngClass]="[
              selectedArc === 'Caminho_3958' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 99.7495 324.168)"
            class="st2 st5 st6"
          >
            ÁREAS DE
          </text>
          <text
            (click)="handleClick('Caminho_3958')"
            [ngClass]="[
              selectedArc === 'Caminho_3958' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 89.1636 345.374)"
            class="st2 st5 st6"
          >
            REFÚGIO/MRI
          </text>
          <text
            transform="matrix(1 0 0 1 31.5894 200.5195)"
            class="st2 st5 st6"
            (click)="handleClick('Caminho_3954')"
            [ngClass]="[
              selectedArc === 'Caminho_3954' ? 'selectedText' : 'unselectedText'
            ]"
          >
            CONTROLE
          </text>
          <text
            transform="matrix(1 0 0 1 26.8179 221.7256)"
            class="st2 st5 st6"
            (click)="handleClick('Caminho_3954')"
            [ngClass]="[
              selectedArc === 'Caminho_3954' ? 'selectedText' : 'unselectedText'
            ]"
          >
            DE PLANTAS
          </text>
          <text
            transform="matrix(1 0 0 1 26.9497 242.9316)"
            class="st2 st5 st6"
            (click)="handleClick('Caminho_3954')"
            [ngClass]="[
              selectedArc === 'Caminho_3954' ? 'selectedText' : 'unselectedText'
            ]"
          >
            DANINHAS E
          </text>
          <text
            transform="matrix(1 0 0 1 21.9048 264.1367)"
            class="st2 st5 st6"
            (click)="handleClick('Caminho_3954')"
            [ngClass]="[
              selectedArc === 'Caminho_3954' ? 'selectedText' : 'unselectedText'
            ]"
          >
            VOLUNTÁRIAS
          </text>
          <text
            (click)="handleClick('Caminho_3999')"
            [ngClass]="[
              selectedArc === 'Caminho_3999' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 70.3081 97.3779)"
            class="st2 st5 st6"
          >
            CONTROLE
          </text>
          <text
            (click)="handleClick('Caminho_3999')"
            [ngClass]="[
              selectedArc === 'Caminho_3999' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 68.3472 118.584)"
            class="st2 st5 st6"
          >
            BIOLÓGICO
          </text>
          <text
            (click)="handleClick('Caminho_3999')"
            [ngClass]="[
              selectedArc === 'Caminho_3999' ? 'selectedText' : 'unselectedText'
            ]"
            transform="matrix(1 0 0 1 66.7563 139.79)"
            class="st2 st5 st6"
          >
            E QUÍMICO
          </text>
        </svg>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h4 *ngIf="selectedArc === 'Caminho_3956'">
          Monitoramento/identificação de pragas
        </h4>
        <h4 *ngIf="selectedArc === 'Caminho_3971'">Dessecação Antecipada</h4>
        <h4 *ngIf="selectedArc === 'Caminho_3969'">Biotecnologia</h4>
        <h4 *ngIf="selectedArc === 'Caminho_3959'">Tratamento de Sementes</h4>
        <h4 *ngIf="selectedArc === 'Caminho_3958'">Áreas de Refúgio</h4>
        <h4 *ngIf="selectedArc === 'Caminho_3954'">
          Controle de Plantas Daninhas e Voluntárias
        </h4>
        <h4 *ngIf="selectedArc === 'Caminho_3954'">
          Controle Biológico e Químico
        </h4>
        <!-- <ion-searchbar placeholder="Busca rápida"></ion-searchbar> -->
        <ion-input class="search-input" #searchBar placeholder="Busca rápida">
          <img src="../../assets/icon/search-icon.svg" />
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="plan">
          <input
            type="radio"
            (click)="artigos()"
            checked
            name="radio1"
            id="artigos"
            value="artigos"
          /><label class="free-label four col" for="artigos">Artigos</label>
          <input
            type="radio"
            (click)="videos()"
            name="radio1"
            id="videos"
            value="videos"
          /><label class="basic-label four col" for="videos">Videos</label>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-slides class="slides" #sliderBoasPraticas [options]="slideOpts">
          <ion-slide>
            <ion-list class="myList">
              <ion-item
                *ngIf="selectedArc === 'Caminho_3956'"
                routerLink="/home/praticas/enfezamento-palido-e-vermelho-do-milho-e-a-cigarrinha"
                routerDirection="forward"
              >
                <ion-avatar slot="start">
                  <img src="../../../assets/img/daninha.png" />
                </ion-avatar>
                <ion-label>
                  <h3>Monitoramento/ identificação de pragas</h3>
                  <p>
                    É a prática que gera informações sobre a situação das pragas
                    na cultura, avalia possíveis danos e prejuízos e define o
                    momento da aplicação de inseticida.
                  </p>
                </ion-label>
              </ion-item>
              <ion-item
                *ngIf="selectedArc === 'Caminho_3954'"
                routerLink="/home/praticas/como-evitar-e-manejar-tiguera-ou-milho-rr-voluntario"
                routerDirection="forward"
              >
                <ion-avatar slot="start">
                  <img src="../../../assets/img/daninha.png" />
                </ion-avatar>
                <ion-label>
                  <h3>Controle de Plantas Daninhas e Voluntárias</h3>
                  <p>
                    Esse controle é fundamental, porque as plantas daninhas e
                    voluntárias são hospedeiras de pragas e agem como ponte
                    verde.
                  </p>
                </ion-label>
              </ion-item>
              <ion-item
                *ngIf="selectedArc === 'Caminho_3958'"
                routerLink="/home/praticas/refugio-principal-ferramenta-para-manejo-de-resistencia-de-insetos-mri"
                routerDirection="forward"
              >
                <ion-avatar slot="start">
                  <img src="../../../assets/img/daninha.png" />
                </ion-avatar>
                <ion-label>
                  <h3>Áreas de Refúgio</h3>
                  <p>
                    Objetivo do refúgio é manter uma população de pragas
                    sensíveis às proteínas Bt que transmita essa característica
                    às gerações futuras. Isso faz com que a tecnologia continue
                    funcionando a longo prazo.
                  </p>
                </ion-label>
              </ion-item>
              <ion-item
                *ngIf="selectedArc === 'Caminho_3969'"
                routerLink="/home/praticas/o-manejo-integrado-de-pragas-em-tres-passos"
                routerDirection="forward"
              >
                <ion-avatar slot="start">
                  <img src="../../../assets/img/daninha.png" />
                </ion-avatar>
                <ion-label>
                  <h3>Biotecnologia</h3>
                  <p>
                    Biotecnologia Nunca se esqueça, porém, de que a
                    biotecnologia é uma entre várias ferramentas dentro de um
                    sistema de manejo. Apesar de seu valor ser muito reconhecido
                    pelos agricultores, não devemos tratá-la como ferramenta
                    única, mas sim com uma parte do Manejo Integrado de Pragas.
                  </p>
                </ion-label>
              </ion-item>
              <ion-item
                *ngIf="selectedArc === 'Caminho_3971'"
                routerLink="/home/praticas/comece-bem-com-o-manejo-pre-plantio-e-pos-emergente"
                routerDirection="forward"
              >
                <ion-avatar slot="start">
                  <img src="../../../assets/img/daninha.png" />
                </ion-avatar>
                <ion-label>
                  <h3>Dessecação Antecipada</h3>
                  <p>
                    O objetivo primário desta prática é manejar as plantas
                    daninhas ou coberturas, sendo fundamental na instalação do
                    plantio direto. Isso favorece a redução da população de
                    pragas, principalmente lagartas, porque elimina a fonte de
                    alimento, o local de oviposição e o abrigo das pragas.
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-slide>
          <ion-slide>
            <ion-list>
              <!-- <ion-item routerLink="/video" routerDirection="forward">
                <ion-avatar slot="start">
                  <img src="../../../assets/img/percevejo.png">
                </ion-avatar>
                <ion-label>
                  <h3>De olho nos percevejos para uma safrinha mais produtiva</h3>
                  <p>Com o fim do plantio de soja, os agricultores já começam a pensar no plantio da safrinha, que deve
                    ocorrer entre o fim de janeiro e fevereiro na maior parte das regiões…</p>
                </ion-label>
              </ion-item> -->
            </ion-list>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
