ion-content {
    #chart {
        fill: white;
        font-size: 12px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 2px;
        padding-right: 16px;
    }

    label {
        width: 100%;
    }

    ion-avatar {
        img {
            border-radius: 0;
        }
    }

    ion-list {
        width: 100%;
    }
}

.mandalaArc {
    cursor: pointer;
    fill: #fff;
}

.unselected {
    fill: #0075A6;
}

.selected {
    fill: #66b512;
}

.reduceMargin {
    margin-top: -50px;
}

.selectedText {
    cursor: pointer;
    // font-size: 12px;
    // font-family: Roboto-Light, Roboto;
    // font-weight: 300;
    fill: #f4f4f4;
}

.unselectedText {
    cursor: pointer;
    // font-size: 12px;
    // font-family: Roboto-Light, Roboto;
    // font-weight: 300;
    fill: #f4f4f4;
}

.cls-3,
.cls-4 {
    font-size: 12px;
    font-family: Roboto-Light, Roboto;
    font-weight: 300;
}

.cls-4 {
    fill: #b2b2b2;
}

.linkKnowMore {
    text-decoration: underline;
    cursor: pointer;
    color: var(--ion-color-primary, #3880ff)
}

.mandalaText {
    // min-height: 270px;
}

.mandalaWrapper {
    // position: relative;
    // margin-top: -50px;
    // height: 380px;
}

.mandalaSvg {
    width: 100%;
    margin-top: -40px;
    // position: absolute;
    // left: 50%;
    // margin-left: -156px;
}

.showLess{
    height: 60px;
    overflow: hidden;
}

.show{
    overflow: visible;
    height: auto;
}
.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}