<ion-content text-center>
  <h1>Termos de Uso</h1>
  <p padding-start padding-end>Este é um aplicativo destinado a agricultores e demais profissionais do setor agrícola
  </p>
  <div text-left padding class="terms">
    <h4> Politica de privacidade</h4>

    <span>Este App (doravante Bayer recomenda) é fornecido pela Bayer S.A. (doravante “nós”). Para obter mais
      informações sobre o provedor do aplicativo.</span>

    <h4> A - Tratamento de dados pessoais</h4>

    <span>No que se segue, desejamos fornecer informações sobre como lidamos com seus dados pessoais quando você utiliza
      nosso App. Salvo indicação em contrário nos capítulos seguintes, a base jurídica para o tratamento de seus dados
      pessoais resulta do fato de que esse tratamento é necessário para disponibilizar as funcionalidades do App,
      conforme solicitado por você (Lei Geral de Proteção de Dados, No. 13.709/2018, Art. 7, V).</span>
    <h4> I - Uso do. Nosso aplicativo</h4>

    <span>Para disponibilizar os serviços do nosso App, os dados a seguir serão transmitidos para nós, sempre que você
      utilizar nosso App:
      <p>- Endereço IP</p>
      <p>- Data e hora do acesso</p>
      <p>- Diferença de Fuso Horário(GMT)</p>
      <p>- Localidade (Estado, Cidade)</p>
      <p>- Informação do Sistema Operacional</p>
      <p>- Status do acesso/código de status do HTTP</p>
      <p>- Volume de dados transferidos</p>
      <p>- Idioma, Versão do App</p>

      Para proteger nossos interesses legítimos, nós armazenamos essas informações por um período de tempo limitado para
      poder iniciar um rastreamento de dados pessoais no caso de acesso ou tentativa não autorizados aos servidores (Lei
      Geral de Proteção de Dados, No. 13.709/2018, Art. 7, IX).
      .
    </span>

    <h4>Acesso às interfaces do seu dispositivo</h4>
    <span>Para que nosso aplicativo funcione corretamente, precisamos acessar e utilizar as seguintes interfaces do seu
      dispositivo móvel para os seguintes propósitos:

      <p>Localização: Para que a função de definição de Bioma seja executada com êxito, mapeamos a sua Latitude e
        Longintude levando em conta a margem de erro google, para que possamos cruzar os dados da sua região/estado e
        seja definido a qual Bioma o mesmo pertence. </p>

    </span>

    <h4>App Analytics com a Google</h4>
    <span>No nosso App, utilizamos um serviço de análise da Google Inc., 1600 Anphitheatre Parkway, Mountain View, CA
      94043, Estados Unidos ("Google").
      A Google analisará o uso do App em nosso nome para que possamos entender melhor como você o utiliza, o que nos
      permite melhorar este App de acordo com os interesses de nossos clientes. A informação coletada pela Google em
      relação a utilização do App (por exemplo, conteúdo do nosso App visitada por você, suas configurações de idioma,
      seu sistema operacional, sua resolução de tela, etc.) serão transmitidos para um servidor da Google nos EUA, onde
      será armazenado e analisado. Os resultados respectivos serão então disponibilizados para nós de forma anônima. Os
      seus dados de uso não serão conectados ao seu endereço IP completo durante este processo. Ativamos em nosso App a
      função de anonimato de IP oferecida pela Google, que eliminará os últimos 8 dígitos (tipo IPv4) ou os últimos 80
      bits (digite IPv6) do seu endereço IP após a transferência dos dados para a Google. Além disso, a Google é
      certificada sob o Privacy Shield UE-EUA, que garante um nível adequado de proteção de dados pessoais em relação ao
      processamento de dados pela Google nos EUA.

      Nós apenas analisamos o uso deste App, se obtivemos o seu consentimento prévio no primeiro acesso ao nosso App ou
      se você fizer uso da opção acima para ativar ou desativar o aplicativo analítico. Você pode retirar seu
      consentimento a qualquer momento usando o mesmo switch acima.

    </span>

    <h4>Publicidade comportamental online com a Google</h4>
    <span>
      A Google analisará o uso deste aplicativo para fins publicitários. As informações coletadas pela Google em conexão
      com o uso do nosso App (por exemplo, conteúdo da nossa aplicação usada por você, suas configurações de idioma, seu
      sistema operacional, a resolução da tela, etc.) serão transmitidas para um servidor da Google nos EUA, onde será
      armazenada e analisada. Nós e o nosso parceiro, a Google, utilizaremos essas informações para melhor adaptar as
      nossas propagandas a você e seus interesses, para limitar o número de vezes do mesmo anúncio, para avaliar a
      eficiência das campanhas promocionais e para melhor compreender o comportamento dos visitantes após acessar um
      determinado anúncio. Quando você visita o App ou websites da chamada "Google Display Network", os pop-ups
      personalizadas adaptadas aos seus interesses podem ser apresentadas com base nas informações coletadas em nosso
      App.
      A Google é certificada pelo Privacy Shield UE-EUA, que garante que um nível adequado de proteção de dados seja
      mantido com relação ao processamento de dados pessoais pela Google nos EUA.
      A Google é responsável por processar seus dados pessoais que coleta diretamente de nosso aplicativo para serviços
      de publicidade comportamental on-line. Como não temos controle sobre os dados pessoais coletados e processados por
      terceiros, não estamos em posição de fornecer informações vinculantes sobre o escopo e a finalidade de tal
      processamento de seus dados pessoais. Assim, visite as informações da Google sobre privacidade de dados para
      receber mais informações sobre como a Google processa seus dados pessoais e por quanto tempo. No momento da
      preparação desta política de privacidade, as informações da Google estavam disponíveis nas Diretrizes de proteção
      de dados da Google para publicidade.
      Nós apenas utilizamos o serviço de publicidade comportamental on-line neste App, se obtivermos o seu consentimento
      prévio no primeiro acesso ao nosso App ou se você fizer uso da opção acima para ativar ou desativar o serviço.
      Você pode retirar seu consentimento a qualquer momento usando o mesmo switch acima.


    </span>

    <h4>Serviços Externos e conteúdo em nosso App</h4>
    <span>Nós incluímos serviços e / ou conteúdo de terceiros em nosso App. Quando você usa esses serviços de terceiros
      ou quando o conteúdo de terceiros é exibido, os dados de comunicação são trocados entre você e o respectivo
      fornecedor por razões técnicas.
      O respectivo fornecedor de serviços ou conteúdo também pode processar seus dados pessoais para propósitos
      adicionais. No nosso melhor conhecimento, configuramos os serviços e o conteúdo dos provedores conhecidos para
      processar os dados para propósitos próprios de tal forma que qualquer comunicação para outros fins que apresentar
      seus serviços ou conteúdo em nosso App seja bloqueada ou somente comunicação ocorre uma vez que optou ativamente
      pelo uso do serviço em questão. No entanto, uma vez que não temos controle sobre os dados coletados e processados
      por terceiros, não estamos em condições de fornecer informações vinculativas sobre o alcance e o propósito desse
      processamento de seus dados pessoais.
      Para obter mais informações sobre o alcance e o propósito dessa coleta e processamento de seus dados pessoais,
      consulte as políticas de privacidade dos provedores cujos serviços e / ou conteúdo incluímos e quem é responsável
      pela proteção de seus dados neste contexto:
      Videos Vímeo
      Integracão Google & Google Analytics
      Icone de compartilhar WhatsApp
    </span>


    <h4>Utilização da função de recomendação</h4>
    <span>Se você deseja recomendar a outras pessoas, pode fazê-lo usando a função de recomendação em nosso website.
      Você pode, no seu e no nosso interesse legítimo, enviar uma mensagem a qualquer pessoa se você assumir que o
      destinatário deseja receber essas informações. Excluímos os dados pessoais envolvidos com isso (por exemplo, nome
      e e-mail) depois que a recomendação é enviada.
      As pessoas que não desejam receber mensagens através da nossa função de recomendação podem solicitar que sejam
      incluídas em uma lista de destinatários bloqueados, seguindo as instruções incluídas na respectiva mensagem.
    </span>

    <h4>Transferência de dados pessoais em caso de subcontratação</h4>
    <span>Para o processamento de seus dados pessoais, nós, em certa medida, utilizaremos prestadores de serviços
      especializados. Tais prestadores de serviços são cuidadosamente selecionados e monitorados regularmente por nós.
      Com base nos respectivos contratos de processamento de dados, eles somente processarão dados pessoais conforme
      nossas instruções e de acordo com nossas diretrizes.</span>


    <h4>Processamento de dados fora da U.E./the EEE</h4>
    <span>Os seus dados pessoais serão, em parte, também processados em países fora da União Europeia ("UE") ou no
      Espaço Econômico Europeu ("EEE"), que podem ter um menor nível de proteção de dados do que os países europeus.
      Nesses casos, garantiremos que um nível de proteção suficiente seja fornecido para seus dados pessoais, ex. ao
      concluir acordos específicos com nossos parceiros contratuais (cópia disponível quando solicitado), ou
      solicitaremos seu consentimento explícito para esse processamento.</span>



    <h4>Informação sobre os seus direitos</h4>
    <span>Os seguintes direitos estão em geral disponíveis para você de acordo com as leis de privacidade de dados
      aplicáveis
      Direito de informação sobre seus dados pessoais armazenados por nós
      Direito de solicitar a correção, exclusão ou processamento restrito de seus dados pessoais;
      Direito de se opor a um processamento por razões de nosso legítimo interesse, interesse público ou perfil, a menos
      que possamos comprovar que razões inequívocas e justificadas que substituem seus interesses, direitos e liberdade
      existem ou que tal processamento é feito para fins de alegação, exercício ou defesa de reivindicações legais;
      Direito a Portabilidade dos Dados;
      Direito de registrar uma reclamação junto a uma autoridade de proteção de dados;
      Você pode em qualquer momento com efeito futuro, retirar seu consentimento para o processamento de seus dados
      pessoais. Para mais informações, consulte os capítulos acima descrevendo o processamento de dados pessoais com
      base no seu consentimento.
      Se você deseja exercer seus direitos, envie seu pedido ao contato indicado abaixo.(🡪 C.).</span>


    <h4>Contato</h4>
    <span>Para qualquer dúvida que possa ter em relação à privacidade dos dados pessoais, por favor, escreva um e-mail
      para privacybr@bayer.com ou entre em contato com o Data Privacy Officer da empresa no seguinte endereço:
      Data Privacy Officer
      Bayer S.A.
      Rua Domingos Jorge, 1100 10º. andar
      CEP 04779-900 - São Paulo, SP - Brasil
    </span>


    <h4>Alterações da Política de Privacidade</h4>
    <span>Podemos atualizar nossa Política de Privacidade de tempos em tempos. As atualizações da nossa Política de
      Privacidade serão publicadas em nosso App. Todas as emendas entrarão em vigor após a publicação em nosso App.
      Recomendamos que você visite regularmente o App para se manter informado sobre possíveis atualizações.
      Última alteração: 20/agosto/2019
    </span>


  </div>

  <div class="accept-terms">
    <ion-grid>
      <ion-row text-left>
        <ion-col size="9" size-lg>

          <h4>Concordo com os termos e condições de uso</h4>

        </ion-col>
        <ion-col size="3" size-lg class="justify-center-center">
          <ion-toggle color="primary" [(ngModel)]="accept"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer class="ion-padding" no-shadows no-border>
  <ion-toolbar>
    <ion-button (click)="openBayer()" routerDirection="forward" class="default-bayer">Toque para continuar <img
        src="../../../assets/icon/arrow-btn.svg" alt=""></ion-button>
  </ion-toolbar>
</ion-footer>