ion-content{
    h1{
        color: black;
        font-weight: bold;
        margin-top: 2em;
    }
    p{
        font-weight: 500;
        font-size: 1em;
        margin-top: 2em;
    }
    span{
        font-weight: 400;
        font-size: 0.8em;
    }
    div{
        padding: 0 9%;
        max-height: 400px;
        overflow: auto;
        margin-top: 2em;
    }
    .accept-terms{
        background-color:#EDEDED;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 2em;
        margin-top: 20px;
    }
    ion-button{
        margin-bottom: 1em;
    }

}

