// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


ion-menu-button {
    position: absolute;
}

.bar-icons {
    position: absolute;
    top: 30px;
    right: 20px;

}

ion-header {
    aside {
        ion-icon {
            font-size: 30px;
            margin-left: 10px;
        }
    }
}

ion-button.default-bayer {
    color: white;
    text-align: left;
    display: flex;
    margin: auto;
    max-width: 370px;
    text-transform: none;
    --border-radius: none;
    min-width: 200px;

    img {
        position: absolute;
        right: 0;
        width: 60px;
    }
}

ion-button.secondary-bayer {
    color: white;
    --background-color:var(--ion-color-secondary);
    --background: var(--ion-color-secondary);
    background-color: var(--ion-color-secondary);
    text-align: left;
    display: flex;
    margin: auto;
    max-width: 370px;
    text-transform: none;
    --border-radius: none;

    img {
        position: absolute;
        right: 0;
        width: 60px;
    }
}

.justify-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    border: 2px solid var(--ion-color-secondary);
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 21px auto;
    text-align: center;
    text-indent: -10%;

    img {
        position: absolute;
        right: 0;
        width: 60px;
    }
}

ion-header {
    ion-toolbar {
        // height: 60px;

    }

    border: none;

    ion-icon {

        font-size: 3em;
        fill: black;
    }

    ion-title {
        font-size: 1.3em;
    }
}

.d-row{
    flex-direction: column !important;
    align-items: center;
    label{
        width: 400px !important;
    }
}


.plan{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}
.plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}

label{
	position: relative;
	color: #fff;
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    height: 48px;
    line-height: 52px;
    display: block;
    cursor: pointer;
    border: 1px dashed darkgray;
    color: darkgray;
    box-sizing: border-box;
    max-width: 100%;
    margin: 8px;
    width: 200px;
}

.plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
    background-color: var(--ion-color-primary);
    color: white;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    border: none;
}



.plan-2 label{
	position: relative;
	color: #fff;
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    height: 48px;
    line-height: 52px;
    display: block;
    cursor: pointer;
    border: 1px dashed darkgray;
    box-sizing: border-box;
    max-width: 50%;
    margin: 8px;
    width: 100%;
    opacity: 0.3;

}

.plan-2 input:checked + label{
    // background-color: var(--ion-color-primary);
    background-image: url('./assets/icon/verao_btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    border: none;
    opacity: 1;
}

.slide-control{
    background: transparent;
    font-size: 1.4em
}

.flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom-margin-top{
    margin-top: 27%;

}

.custom-margin-top-2{
    margin-top: 22%;

}

ion-menu{
    --background: var(--ion-color-primary-2);
}