<ion-header translucent padding no-line no-border>
	<ion-toolbar>
		<ion-buttons style="margin-right: 10%;" slot="secondary">
			<ion-button routerLink="/home/praticas" routerDirection="forward">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
		<ion-title>Áreas de Refúgio</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid fixed>
		<ion-row>
			<ion-col size="12">
				<h1>REFÚGIO: PRINCIPAL FERRAMENTA PARA MANEJO DE RESISTÊNCIA DE INSETOS (MRI)</h1>
				<p>06/12/2017</p>
			</ion-col>
			<ion-col size="12">
				<ion-slides class="slides" #sliderGuia [options]="slideOpts" paginationType="“bullets”">
					<ion-slide>
						<div>
							<img src="../../../assets/img/artigos/areas/image_01.png" alt="" />
						</div>
					</ion-slide>
				</ion-slides>
				<ion-col size="12">
					<h2>Refúgio: principal ferramenta para Manejo de Resistência de Insetos (MRI)</h2>
					<hr />
					<p>
						Dentro da natureza, populações de seres vivos de todas as espécies já nascem com uma variabilidade genética que permite a
						adaptação a diferentes ambientes e adversidades<strong>. </strong>Quando trazemos esse conceito para a agricultura, a realidade
						é a mesma: populações de insetos praga, que se alimentam das culturas de milho, possuem pré-disposição para se tornarem
						tolerantes aos métodos de controle utilizados no manejo de praga nas lavouras.
					</p>
					<p>
						Com o aumento do número de áreas produtoras de milho no Brasil, o assunto “desenvolvimento de resistência dos insetos” passou a
						fazer parte da rotina dos agricultores. Isso porque, está cada vez mais claro que os principais fatores responsáveis por
						acelerar esse processo estão diretamente ligados às práticas agrícolas, como o uso contínuo de um único defensivo, manejo de
						pragas ineficiente e a não adoção de refúgio.
					</p>
					<p>
						Sendo assim, são muitas as dúvidas para quem precisa superar esse obstáculo e evitar a perda da eficácia de inseticidas e
						biotecnologias a base da proteína Bt (<em>Bacillus thuringiensis</em>) disponíveis no mercado. Afinal, como manejar pragas de
						alto potencial destrutivo, rotacionando inseticidas? Como utilizar melhor a biotecnologia? Como prover a rentabilidade de uma
						área de refúgio, com plantas sem Bt?
					</p>
					<p>
						Para não depender de inovações tecnológicas futuras, que, ao que tudo indica, irão para o campo apenas na próxima década, é
						muito importante conhecer os principais pilares do manejo de resistência de insetos e os fatores que aceleram o desenvolvimento
						dessa resistência. Além disso, compreender que o manejo de áreas de refúgio não só é possível, como é fundamental, pode fazer a
						diferença na sustentabilidade e rentabilidade das lavouras a médio e longo prazo.
					</p>
					<p><strong>O milho Bt no Brasil hoje</strong></p>
					<p>
						A presença da tecnologia Bt no mercado brasileiro é cada vez mais significativa, e representou cerca de 84% da área cultivada de
						milho na safra 2016/17. Com a alta adoção de milho Bt, ocorre o aumento da pressão de seleção sobre as pragas da cultura, o que
						pode acelerar o desenvolvimento de resistência ao Bt.<br /><strong
							><br />
							Como os insetos desenvolvem resistência?</strong
						>
					</p>
					<p>
						A proteína Bt, presente em plantas de milho geneticamente modificadas (transgênicas), confere proteção contra as principais
						pragas da cultura. Mas ainda assim, alguns indivíduos podem sobreviver por conta de uma variabilidade genética natural dentro da
						espécie, que os permitem sobreviver quando se alimentarem da proteína.
					</p>
					<p>
						A partir disso, se os indivíduos sobreviventes conseguirem passar sua característica de tolerância aos descendentes, ocorre um
						aumento na frequência de insetos resistentes dentro das populações de pragas. Conforme as gerações de insetos são expostas a
						ferramentas de manejo, sendo elas biotecnologia ou inseticidas, esses métodos de controle acabam exercendo a chamada “pressão de
						seleção”.
					</p>
					<p>
						É neste cenário que precisamos reforçar a importância das estratégias de Manejo da Resistência de Insetos (MRI), viabilizando o
						uso das atuais estratégias de controle de forma mais consciente.
					</p>
					<p>
						<strong>Quais fatores podem acelerar a seleção de insetos resistentes?<br /></strong><br /><strong
							><em>– Ambiente tropical com cultivo do milho durante o ano todo</em></strong
						><br />
						De acordo com a CONAB (Companhia Nacional de Abastecimento), foram semeados no Brasil aproximadamente 5,5 milhões de hectares de
						milho verão e 11,86 milhões de hectares de milho safrinha na safra 16/17. Dentro desse cenário, as pragas encontram grandes
						áreas onde podem se alimentar e se desenvolver durante praticamente o ano todo.
					</p>
					<p>
						<strong
							><em>– Altas infestações<br /></em></strong
						>Quando o manejo de pragas não ocorre de forma adequada, o aumento da população de insetos pode ocorrer rapidamente. Nessas
						condições, a probabilidade de indivíduos resistentes se multiplicarem é muito maior, acelerando a evolução da resistência.
					</p>
					<p>
						<strong><em>– Não adoção de refúgio</em></strong
						><br />
						Mesmo com o atual aumento da adoção de áreas de refúgio, ainda é grande o número de lavouras onde essa ferramenta não é
						utilizada. Considerada a principal forma de retardar a evolução da resistência de insetos, a prática de refúgio é indispensável
						para que eficiência da tecnologia Bt tenha maior durabilidade.
					</p>
					<p>
						<strong>O que é Manejo de Resistência de Insetos?<br /></strong>O Manejo de Resistência de Insetos (MRI) é um conjunto de
						medidas que devem ser adotadas com o objetivo de retardar o processo de evolução da resistência, integrando o Manejo Integrado
						de Pragas (MIP).
					</p>
					<p>
						As principais ferramentas do MRI são:<br /><strong
							><em><br /></em></strong
						><strong><em>Piramidação de tecnologias Bt</em></strong>
					</p>
					<p>
						Plantas piramidadas expressam duas ou mais proteínas Bt, que protegem a cultura de uma mesma praga-alvo. A combinação de
						diferentes proteínas é uma estratégia de ataque múltiplo, o que é muito eficiente. Isto ocorre porque a probabilidade de uma
						praga ser resistente a duas ou mais proteínas simultaneamente é muito mais baixa do que a probabilidade de ela ser resistente a
						apenas uma proteína isolada.
					</p>
					<p>
						O <strong>VTPro3</strong>, tecnologia com piramidação de proteínas disponibilizada no mercado pela Monsanto, representa a
						segunda geração de milho Bt no Brasil e é uma ferramenta importante no MRI. Expressando quatro proteínas, essa tecnologia torna
						a planta resistente a herbicidas a base de glifosato e tolerante a ataques das principais lagartas da cultura do milho, além de
						conferir proteção contra larva-alfinete (<em>Diabrotica</em> spp.), uma das mais importantes pragas do solo.
					</p>
					<p>
						<strong><em>Refúgio </em></strong
						><strong
							><em><br /></em></strong
						>Plantio de sementes de híbridos convencionais ou somente com tolerância a herbicida em 10% da área total do cultivo de milho. O
						objetivo dessa prática é promover a multiplicação de indivíduos suscetíveis ao Bt. Os raros indivíduos resistentes, que
						sobrevivem em plantas Bt, irão acasalar com indivíduos suscetíveis, que se desenvolvem nas áreas de refúgio. Quando os
						descendentes deste acasalamento se alimentarem de plantas Bt, serão eliminados, resultando no retardo da evolução da
						resistência. Para que esse processo seja eficiente, é necessário reforçar que a área de refúgio deve ser plantada a uma
						distância menor que 800 metros do plantio de milho Bt.
					</p>
					<p>
						<strong>Se a ideia é a garantir a sobrevivência de insetos não tolerantes, é necessário manejar a área de refúgio</strong
						><strong>?</strong><strong><br /></strong>O manejo de pragas em áreas de refúgio deve ocorrer da mesma forma que acontece em
						áreas com milho Bt, por meio do controle químico. Por conta da seletividade dos produtos e de fatores como clima e deriva no
						momento da pulverização, variabilidade genética dos indivíduos e a seletividade ecológica e fisiológica da praga, os insetos
						alvos da tecnologia Bt conseguem sobreviver a níveis desejáveis em áreas de refúgio instaladas nas condições corretas.
					</p>
					<p>
						A única ressalva é em relação a inseticidas a base de Bt. Como a estratégia é reduzir a pressão de seleção por parte dessa
						proteína, o uso dessa tecnologia atrapalha a eficiência do refúgio. Por isso não é recomendado a pulverização de inseticidas a
						base de Bt no refúgio.
					</p>
					<p>
						O controle de pragas no refúgio deve seguir a Escala Davis: situações com 10% ou mais de plantas apresentando folhas com
						raspagens ou pequenos furos, exigem a tomada da decisão do agricultor, que deve realizar pulverizações com inseticidas.
					</p>
					<p>
						O tamanho das lagartas também pode ser um indicador de nível de dano econômico para a tomada de decisão, como no quadro a baixo:
					</p>
					<p>
						<img src="../../../assets/img/artigos/areas/image_02.png" alt="" />
					</p>
					<p>&nbsp;</p>
					<p>
						<strong>Associando o MIP<br /></strong>A integração de ferramentas de controle de pragas é indispensável tanto em áreas com
						tecnologia Bt, quanto em áreas de refúgio. A implementação dessas práticas na lavoura colabora com um cenário mais rentável e
						sustentável para o agricultor. Mesmo quando o objetivo é a redução da resistência de pragas, estratégia que trará mais
						resultados a longo prazo, a associação do MIP pode apresentar benefícios do início ao fim da lavoura.
					</p>
					<p>
						<strong>Práticas do MIP para auxiliar o manejo de resistência de insetos</strong
						><strong><br /><em>Dessecação antecipada seguida de inseticida</em></strong
						>: reduz população inicial de pragas e controla lagartas residentes em estágios mais avançados, que se desenvolvem em plantas
						daninhas e podem migrar para a planta de milho.<br /><strong><em>Tratamento de sementes</em></strong
						>: protege a planta durante a fase inicial da cultura por meio de um mecanismo de ação diferente do Bt, o que colabora com a
						rotação de princípios ativos no combate as pragas da cultura.
					</p>
					<p>
						<strong><em>Controle de plantas voluntárias:</em></strong> eliminar o hospedeiro da praga contribui para que o inseto não
						consiga se multiplicar durante o ano todo, reduzindo a população.
					</p>
					<p>
						<strong><em>Planejamento do sistema de produção:</em></strong> o nível populacional de pragas é influenciado pelo manejo adotado
						em outras culturas.
					</p>
					<p>
						Quer saber quais são as melhores recomendações de inseticidas para sua lavoura? Conte com a ajuda de nossa árvore de
						recomendação de inseticidas, do portal Roundup Ready Plus:
						<a href="http://roundupreadyplus.com.br/ferramentas/arvore-de-recomendacoes-inseticidas/"
							>http://roundupreadyplus.com.br/ferramentas/arvore-de-recomendacoes-inseticidas/</a
						>.
					</p>
				</ion-col>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

