<ion-header translucent padding no-line no-border>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button routerLink="/recomendacao" routerDirection="forward">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
