ion-card {
	width: 100%;
	border: none;
	min-height: auto;
	// webkit-box-shadow: none;
	// box-shadow: none;
}

.large {
	width: 500px;
}

.plan {
	label {
		width: 100% !important;
		max-width: 100% !important;
	}
	label.left {
		margin: 8px 8px 8px 0px;
	}
	label.right {
		margin: 8px 0px 8px 8px;
	}
}

p,
.tip {
	font-size: 0.8em;
	font-weight: 300;
	color: darkslategray;
}

.tip-title {
	font-size: 0.7em;
	font-weight: 500;
	color: darkslategray;
}

.slide-wrapper {
	position: relative;
}

.wrapper-title {
	position: absolute;
	top: 16px;
	display: block;
	font-weight: 700;
	width: 100%;
}

.slide-footer {
	margin-left: -10px;
	margin-bottom: -10px;
	width: 3000px;
	height: 60px;
	background-image: url('../../../assets/img/terra.svg');
	background-size: contain;
	background-repeat: repeat-x;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

.slide-title {
	font-size: 0.7em;
	font-weight: 700;
	color: darkslategray;
}

.steps {
	font-size: 1.2em;
	font-weight: 400;
	color: black;
}

.small-img {
	width: 48px !important;
	height: 48px !important;
	margin: 8px 0px 8px 0px;
}

.sc-ion-card-ios-h,
.sc-ion-card-md-h {
	-webkit-margin-start: 0px !important;
	margin-inline-start: 0px !important;
	-webkit-margin-end: 0px !important;
	margin-inline-end: 0px !important;
}

.productWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -50px;
}

.productWrapper-inceticida {
	align-items: flex-start;
}

.productImageWrapper {
	max-width: 300px;
}
.productImageWrapper-inceticida {
	@extend .productImageWrapper;
	max-width: 450px;
}

.custom-square {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 300px;
}

.custom-square-inceticida {
	@extend .custom-square;
	height: 450px;
}

.main-slide {
	position: relative;
	top: -50px;
}

@media only screen and (max-width: 762px) {
	.custom-square {
		height: 350px;
	}
	.productWrapper {
		height: 350px;
	}

	.main-slide {
		.productWrapper {
			padding-top: 50px;
		}
	}

	.custom-square-inceticida {
		height: 350px;
	}
	.productImageWrapper-inceticida {
		max-width: 350px;
	}

	.main-slide {
		position: initial;
	}
}
@media only screen and (min-width: 414px) and (max-height: 736px) {
	.custom-square-inceticida {
		height: 400px;
	}
	.productImageWrapper-inceticida {
		max-width: 400px;
	}
}

@media only scren and (min-width: 768px) {
	.custom-square {
		height: 300px;
	}
}

.square {
	border-color: transparent;
	border-style: solid;
	border-width: 2px;
	width: 100%;
	height: 100%;
}
.selected {
	.square {
		border-color: var(--ion-color-primary);
	}
}

.terra {
	.img-terra {
		position: absolute;
		bottom: -37px;
		z-index: 10;
		display: block;
		max-width: none;
	}
}

.image-passo {
	margin: 0 auto;
	position: absolute;
	z-index: 20;
	bottom: -30px;
	width: 150px;
}
@media only screen and (max-width: 762px) {
	.image-passo {
		margin: 0 auto;
		position: absolute;
		z-index: 20;
		bottom: -30px;
		width: 150px;
	}
}
.image-passo-inceticidas {
	margin: 0 auto;
	position: absolute;
	z-index: 20;
	bottom: -50px;
	width: 100%;
	right: 0;
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-width: 360px) and (max-height: 640px) {
	.image-passo-inceticidas {
		bottom: -20px;
	}
}
/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) {
	.image-passo-inceticidas {
		bottom: -20px;
	}
}
/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-width: 414px) and (max-height: 736px) {
	.image-passo-inceticidas {
		bottom: -25px !important;
	}
}
/* iPhone X ----------- */
@media only screen and (min-width: 375px) and (max-height: 812px) {
	.image-passo-inceticidas {
		bottom: -20px;
	}
}

.img-destaque {
	width: 200px;
}

.reduceMargin {
	margin-top: -30px;
}

.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}
