<ion-header translucent padding no-line no-border>
	<ion-toolbar>
		<ion-buttons style="margin-right: 10%;" slot="secondary">
			<ion-button routerLink="/home/recomendacoes" routerDirection="forward">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
		<img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
		<ion-title>Recomendação</ion-title>
		<ion-buttons slot="primary">
			<ion-button (click)="alertDetails()">
				<ion-icon slot="icon-only" size="small" name="information-circle-outline"></ion-icon>
			</ion-button>
			<ion-button (click)="favoriteScenario()">
				<ion-icon slot="icon-only" size="small" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<!-- GRID -->
	<ion-grid class="reduceMargin">
		<ion-row>
			<ion-col size="12" cl>
				<div *ngIf="type == 'Inceticidas'" padding-start padding-end>
					<p>
						Recomendação - <b>{{ type }}</b> > Cultura - <b>{{ cultura }}</b> > Pergunta - <b> {{ tratamentoSemente }} </b> > Estádio
						cultura - <b> {{ estagioCultivo }} </b>
					</p>
				</div>
				<div *ngIf="type == 'Herbicidas'" padding-start padding-end>
					<p>
						Recomendação - <b>{{ type }}</b> > Cultura - <b>{{ cultura }}</b>
					</p>
				</div>

				<div class="plan" *ngIf="type == 'Herbicidas'">
					<img src="../../../assets/img/verao.jpeg" class="small-img" />
					<input type="radio" (click)="swipeTo(0)" [(ngModel)]="estacao" name="radio5" id="opt1" value="verao" /><label
						class="basic-label left four col"
						for="opt1"
						>Verão</label
					>
					<input type="radio" (click)="swipeTo(6)" [(ngModel)]="estacao" name="radio5" id="opt2" value="inverno" /><label
						class="basic-label right four col"
						for="opt2"
						>Inverno</label
					>
					<img src="../../../assets/img/verao.jpeg" class="small-img" />
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!-- GRID -->
	<ion-grid text-center center class="ion-align-items-center">
		<ion-row class="ion-margin-bottom" padding-bottom>
			<ion-col size="12" *ngIf="type == 'Inceticidas'">
				<h3>Passo {{ step }}</h3>
			</ion-col>

			<ion-col size="8" swipeAll (swiperight)="swipePrevious()" (swipeleft)="swipeNext()" data-mc-options="{ 'touchAction': 'pan-y' }">
				<ion-col text-left padding-left class="steps" *ngFor="let item of itensDescription; let i = index">
					<p *ngIf="item.name">
						<b>{{ item.name }}</b> - {{ days }}
					</p>
				</ion-col>
			</ion-col>

			<ion-col size="4" text-right padding-right>
				<img src="{{ imagePrefix + '/destaque-0' + (stepSelected + 1) + '.png' }}" class="img-destaque" />
			</ion-col>
		</ion-row>

		<ion-row no-padding *ngIf="type == 'Inceticidas'">
			<ion-col size="6" *ngFor="let item of data; let i = index">
				<div class="plan">
					<input
						type="radio"
						[(ngModel)]="praga"
						(change)="changeStep(item)"
						id="{{ i }}"
						name="{{ i }}"
						class="radio"
						value="{{ item.praga }}"
					/>
					<label class="free-label four col" for="{{ i }}">{{ item.praga }}</label>
				</div>
			</ion-col>
		</ion-row>

		<ion-row no-padding *ngIf="type == 'Herbicidas'">
			<ion-col size="12" *ngFor="let item of data; let i = index">
				<div class="plan">
					<p><b>Sistema: </b>{{ item.sistema }}</p>
				</div>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col size="8" text-left>
				<span class="tip-title">Próximos passos:</span>
				<p class="tip">Visualize os próximos passos de cada período de sua colheita.</p>
			</ion-col>
			<ion-col size="4" text-right class="ion-margin-top">
				<button (click)="swipePrevious()" class="slide-control">
					<ion-icon name="arrow-back"> </ion-icon>
				</button>
				<button (click)="swipeNext()" class="slide-control">
					<ion-icon name="arrow-forward"></ion-icon>
				</button>
			</ion-col>
			<ion-col class="terra">
				<ion-slides *ngIf="type == 'Inceticidas'" class="intro-slides slide-wrapper" #mySlider [options]="slideOpts">
					<ion-slide
						*ngFor="let slide of steps; let i = index"
						(click)="verifyIfSholdBeDisabled(i) === -1 ? showItem(slide, i) : null"
						class="custom-square-inceticida slide-wrapper"
						[class.selected]="stepSelected === i && verifyIfSholdBeDisabled(i) === -1"
						[class.unselected]="stepSelected !== i"
					>
						<div class="square">
							<ion-grid style="font-size:0.6em;">
								<ion-row class="wrapper-title">
									<ion-col size="12">
										<ion-text class="slide-title"> PASSO {{ slide.janela }} </ion-text>
									</ion-col>
								</ion-row>
								<ion-row class="main-slide">
									<ion-col
										class="productWrapper productWrapper-inceticida"
										*ngFor="let item of slide.items; let j = index"
										[attr.size]="12 / slide.items.length"
									>
										<div class="productImageWrapper-inceticida" *ngIf="item.name">
											<img
												src="{{ '../../../assets/img/produtos/' + item.name.replace('/', '') + '.png' }}"
												onError="src = '../../../assets/img/produtos/default.png'"
												alt=""
												padding
												class="slide-image"
											/>
											<p>
												<b>{{ item.name }}</b>
											</p>
											<p>{{ slide.days }}</p>
										</div>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col class="ion-text-wrap">
										<p class="tip">{{ slide.name }}</p>
									</ion-col>
								</ion-row>
							</ion-grid>
							<img src="{{ imagePrefix + '/passo-0' + (i + 1) + '.png' }}" class="image-passo-inceticidas" style="z-index: 20;" />
						</div>
					</ion-slide>
					<img src="../../../assets/img/recomendacoes/terra.png" class="img-terra" />
				</ion-slides>

				<ion-slides *ngIf="type == 'Herbicidas'" class="intro-slides slide-wrapper" #mySlider [options]="slideOpts">
					<ion-slide
						(click)="showItem(slide, i)"
						*ngFor="let slide of data[0].total; let i = index"
						class="custom-square slide-wrapper"
						[class.selected]="stepSelected == i"
						[class.unselected]="stepSelected !== i"
					>
						<div class="square">
							<ion-grid style="font-size:0.6em;">
								<ion-row>
									<ion-col class="productWrapper" *ngFor="let item of slide.items; let j = index" [attr.size]="12 / slide.items.length">
										<div class="productImageWrapper" *ngIf="item.name">
											<img
												src="{{ '../../../assets/img/produtos/' + item.name + '.png' }}"
												onError="src = '../../../assets/img/produtos/default.png'"
												alt=""
												padding
												class="slide-image"
											/>
											<p>
												<b>{{ item.name }}</b>
											</p>
										</div>
									</ion-col>
								</ion-row>

								<ion-row>
									<ion-col class="ion-text-wrap">
										<p class="tip">{{ slide.name }}</p>
									</ion-col>
								</ion-row>
							</ion-grid>
						</div>
						<img src="{{ imagePrefix + '/passo-0' + (i + 1) + '.png' }}" class="image-passo" />
					</ion-slide>
					<img src="../../../assets/img/recomendacoes/terra.png" class="img-terra" />
				</ion-slides>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer>
	<ion-row>
		<ion-col size="12" text-center padding>
			<ion-button (click)="showReport()" class="secondary-bayer" text-left>
				Visualizar diagnóstico completo <img src="../../../assets/icon/arrow-2.svg" alt="" />
			</ion-button>

			<!-- <ion-button  routerLink="/diagnostico" routerDirection="forward" class="secondary-bayer" text-left>Visualizar
          diagnóstico completo <img src="../../../assets/icon/arrow-2.svg" alt=""></ion-button> -->
		</ion-col>
	</ion-row>
</ion-footer>
