<ion-header translucent padding no-line no-border>
    <ion-toolbar>
      <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
      <ion-buttons style="margin-right: 10%" slot="secondary">
        <ion-button routerLink="/home/praticas" routerDirection="forward">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Artigo</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <h1>De olho nos percevejos para uma safra mais produtiva</h1>
          <p>24/07/2019</p>
        </ion-col>
        <ion-col size="12">
          <ion-slides class="slides" #sliderGuia [options]="slideOpts" paginationType=“bullets”>
            <ion-slide>
              <div>
                <img src="../../../assets/img/percevejo.jpg" alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div>
                <img src="../../../assets/img/percevejo-2.jpg" alt="">
              </div>
            </ion-slide>
          </ion-slides>
          <ion-col size="12">
            <p>epturi sint occaecati cupiditate non provident, similique sunt in culpaqui officia deserunt mollitia animi,
              id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            </p>
            <p> Nam liberotempore, cum soluta nobis est eligendi optio cumque nihil impeditquo minus id quod maxime
              placeat facere possimus, omnis voluptasassumenda est, omnis dolor repellendus. Temporibus autem quibusdam et
              autofficiis debitis aut rerum necessitatibus saepe eveniet ut etvoluptates repudiandae sint et molestiae non
              recusandae.</p>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>