ion-content{


    section{
        //margin-top: 20vh;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }
    .opacity-0{
        opacity: 0;
    }
    ion-grid{
      max-width: 500px;
    }
    img{

        width: 150px;
    }

    #checkDavis {
        input[type="radio"] {
          -webkit-appearance: none;
          width: 100%;
          height: 150px;
          border: none;
          cursor: pointer;
          transition: border .2s ease;
          filter: grayscale(100%);
          transition: all .2s ease;
  
          &:hover,
          &:checked {
            filter: grayscale(0);
          }
  
          &:focus {
            outline: 0;
          }
  
          &.baixo {
            background: url('../../../assets/img/baixo.png') center;
            background-size: cover;
          }
  
          &.medio {
            background: url('../../../assets/img/medio.png') center;
            background-size: cover;
          }
  
          &.alto {
            background: url('../../../assets/img/alto.png') center;
            background-size: cover;
          }
        }
      }
    
}

.reduceMargin{
  margin-top: -15px;
}

.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}