<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <ion-buttons style="margin-right: 10%;" slot="secondary">
      <ion-button routerLink="/home/recomendacoes" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-title>Inseticidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section class="reduceMargin" id="cultura">
    <h4>Cultura</h4>
    <p>Escolha o cultivo da sua safra de verão</p>

    <ion-grid>
      <ion-row no-padding>
        <ion-col size="6" *ngFor="let item of culturas">
          <div class="plan">
            <input type="radio" name="radio1" id="{{item}}" (change)="scrollTo('#pergunta', true)" [(ngModel)]="cultura"
              value="{{item}}">
            <label [ngStyle]="{'background-image': 'url(assets/img/' + item + '.png)','background-repeat':'no-repeat','background-size':'contain'}"  class="basic-label four col" for="{{item}}">
              {{item}}
            </label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </section>


  <section id="perguntaDessecacao" class="opacity-0" style="display: none">

      <span>&nbsp;</span>
      <div style="margin-top: 0vh">
        <h4>Pergunta</h4>
        <p>Quais Inseticida (s) usou no Pré-plantio / Dessecação: (Selecione todos os que usou):</p>
        <!-- soja -->
        <ion-grid>
          <ion-row no-padding>
            <ion-col size="6" *ngFor="let item of dessecacao_soja">
              <div class="plan">
                <input [disabled]="culturaSelectedArray.length === 1 && culturaSelectedArray[0] === item.name" (change)="scrollTo('#pergunta', item)" type="checkbox" [(ngModel)]="item.status" name="{{item.name}}{{item.id}}"
                  id="{{item.name}}{{item.id}}" value="{{item.status}}"><label class="basic-label four col"
                  for="{{item.name}}{{item.id}}">{{item.name}}</label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
    </section>


  <section id="pergunta" class="opacity-0">
    <span>&nbsp;</span>
    <div style="margin-top: 0vh">
      <h4>Pergunta</h4>
      <!-- milho -->
      <p>Quais Inseticida (s) usou no tratamento de semente: (Selecione todos os que usou):</p>

      <ion-grid>
        <ion-row no-padding>
          <ion-col size="6" *ngFor="let item of tratamento_sementes; let i = index">
            <div class="plan">
              <input [disabled]="estadioSelectedArray.length === 1 && estadioSelectedArray[0] === item.name"  (change)="scrollTo('#estadio',item)" type="checkbox" [(ngModel)]="item.status" name="{{item.name}}{{item.id}}"
                id="{{item.name}}{{item.id}}" value="{{item.status}}"><label class="basic-label four col"
                for="{{item.name}}{{item.id}}">{{item.name}}</label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </section>

  <section id="estadio" class="opacity-0">
    <span>&nbsp;</span>
    <div style="margin-top: 0vh">
      <h4>Estádio cultura</h4>
      <p>Escolha abaixo qual o estagio atual da sua cultura</p>
      <ion-grid>
        <ion-row no-padding>
          <ion-col size="3" *ngFor="let item of estadio_cultivos">
            <div class="plan">
              <input [(ngModel)]="estadio_cultivo" (change)="scrollTo('#pragas')" type="radio" name="{{item}}"
                id="{{item}}" value="{{item}}"><label class="basic-label four col" for="{{item}}">{{item}}</label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section id="pragas" *ngIf="cultura == 'Milho'" class="opacity-0">
    <span>&nbsp;</span>
    <div style="margin-top: 0vh">
      <h4>Pragas</h4>
      <p>Escolha a praga problema em sua área </p>

      <ion-grid>
        <ion-row no-padding>
          <ion-col size="6" *ngFor="let item of pragas; let i = index">
            <div class="plan">

              <input type="checkbox" [(ngModel)]="item.status" (change)="scrollTo('#escala',item)" name="{{item.praga}}"
                id="{{item.praga}}" value="{{item.praga}}"><label class="basic-label four col"
                for="{{item.praga}}">{{item.praga}}</label>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </section>

  <section id="pragas" *ngIf="cultura == 'Soja'" class="opacity-0">
    <span>&nbsp;</span>
    <div style="margin-top: 0vh">
      <h4>Pragas</h4>
      <p>Escolha a praga problema em sua área </p>


      <ion-grid>
        <ion-row no-padding>
          <ion-col size="6" *ngFor="let item of pragas; let i = index">
            <div class="plan">

              <input type="checkbox" [(ngModel)]="item.status" (change)="scrollTo('#submit-button',item)"
                name="{{item.praga}}{{i}}" id="{{item.praga}}{{i}}" value="{{item.status}}">
              <label style="width:300px" class="basic-label four col" for="{{item.praga}}{{i}}">{{item.praga}}</label>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </section>

  <section id="escala" style="display: none">
    <span>&nbsp;</span>
    <div style="margin-top: 0vh;">
      <h4>Escala de Davis (Danos Largata) - Lagarta-do-cartucho</h4>
      <p>Escolha a praga problema em sua área</p>

      <ion-grid>
        <ion-row no-padding>
          <ion-col size="4">
            <div id="checkDavis">

              <input type="radio" (change)="scrollTo('#submit-button','item')" [(ngModel)]="davi" name="davi" value="´1 - 2" class="baixo">

            </div>
          </ion-col>
          <ion-col size="4">
            <div id="checkDavis">
              <input type="radio" (change)="scrollTo('#submit-button','item')" [(ngModel)]="davi" name="davi" value="´2 - 3" class="medio">
            </div>
          </ion-col>
          <ion-col size="4">
            <div id="checkDavis">
              <input type="radio" (change)="scrollTo('#submit-button','item')" [(ngModel)]="davi" name="davi" value="> 4" class="alto">
            </div>
          </ion-col>


        </ion-row>
      </ion-grid>

    </div>

  </section>

  <section id="escala_injuria" style="display: none">

    <span>&nbsp;</span>
    <div style="margin-top: 0vh;">
      <h4>Escala de Injúria (Percevejo)</h4>
      <p>Escolha a praga problema em sua área</p>

      <ion-grid>
        <ion-row no-padding>

          <ion-col size="6" *ngFor="let item of escalaPercevejo; let i = index">
            <div class="plan">

              <input type="radio" [(ngModel)]="injuria" (change)="scrollTo('#submit-button',item)" name="injuria"
                id="{{item.escala_injuria}}" value="{{item.id}}"><label class="free-label four col"
                for="{{item.escala_injuria}}">{{item.escala_injuria}}</label>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </section>



  <section class="ion-padding" style="display: none;margin-top:15vh" id="submit-button">
    <ion-button (click)="recomendacaoPage()" class="default-bayer" color="secondary">Visualizar recomendaçōes
      <img src="../../../assets/icon/arrow-btn.svg" alt=""></ion-button>
  </section>
</ion-content>