<ion-header translucent padding no-line no-border>
    <ion-toolbar>
      <ion-buttons style="margin-right:10%;" slot="secondary">
        <ion-button routerLink="/home/praticas" routerDirection="forward">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
      <ion-title style="width: 90%;">Monitoramento/ identificação de pragas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <h1>ENFEZAMENTO PÁLIDO E VERMELHO DO MILHO E A CIGARRINHA</h1>
          <p>20/07/2017</p>
        </ion-col>
        <ion-col size="12">
          <ion-slides class="slides" #sliderGuia [options]="slideOpts" paginationType=“bullets”>
            <ion-slide>
              <div>
                <img src="../../../assets/img/artigos/monitoramento/image_01.jpg" alt="">
              </div>
            </ion-slide>
          </ion-slides>
          <ion-col size="12">
            <h2>A cigarrinha-do-milho (D. Maidis)</h2>
            <hr />
            <p>Causado por um grupo de bactérias da classe Mollicutes, o complexo de enfezamento das plantas de milho é transmitido pela cigarrinha Dalbulus maidis, praga mais conhecida como cigarrinha-do-milho. Por conta da grande perda de produtividade gerada pela doença, que está diretamente ligada à proliferação da praga nas principais regiões produtoras de milho no Brasil, é cada vez mais necessário conhecer e diagnosticar os sintomas do enfezamento pálido e vermelho, além de saber identificar e manejar a cigarrinha.</p>
            <h2>A cigarrinha-do-milho (D. Maidis)</h2>
            <img src="../../../assets/img/artigos/monitoramento/image_02.jpg" alt="">
            <p>A cigarrinha-do-milho é um inseto tão pequeno quanto um grão de arroz, que em fase ninfal apresenta coloração amarelo-clara e manchas escuras no abdômen, e quando adulta tem a coloração parda e asas transparentes, que trazem um aspecto de cor branca. A fêmea é capaz de colocar até 611 ovos durante a vida. Por possuir hábito alimentar monófago, no Brasil a cigarrinha se alimenta apenas da planta do milho. A praga é migratória e pode ser carregada pelo vento por distâncias quilométricas, alcançando áreas onde nunca havia se instalado antes.<br>
              O que mais evidencia esse inseto é sua capacidade de transmitir os fitoplasmas e espiroplasmas (Mollicutes) no momento em que se alimenta, inserindo seu estilete diretamente no floema da planta do milho. No ato da sucção, a bactéria é inoculada no vaso condutor de seiva elaborada e é rapidamente absorvida pela planta. Após essa ação, a doença só se manifesta depois de três semanas.<br>
              Regiões com média de temperaturas máximas de 27°C a 30°C durante o dia e mínimas de 18°C durante a noite oferecem condições positivas para a aquisição e transmissão dos agentes causais. A cigarrinha pode transmitir o enfezamento pálido ou vermelho para o milho de maneira isolada ou simultânea.</p>
            <h2>Danos causados</h2>
            <p>Os sintomas do enfezamento se diferenciam entre dois tipos: o enfezamento pálido do milho (Corn stunt), causado pelo Spiroplasma kunkelii, e o enfezamento vermelho do milho (Maize bushy stunt), causado pelo Phytoplasma. As duas doenças reduzem drasticamente a produtividade da planta, principalmente na fase de enchimento de grãos, gerando perdas de peso e de tamanho de espiga, o que traz grandes danos econômicos.</p>
            <h2>Sintomas</h2>
            <h3><strong><span style="color: #a70631;">
              Enfezamento pálido</span></strong></h3>
            <img src="../../../assets/img/artigos/monitoramento/image_03.jpg" alt="">
            <p>– Formação de estrias amarelas entre as nervuras da folha a partir da base.<br>
              – Crescimento reduzido da planta – ananismo.<br>
              – Amarelecimento generalizado ou apenas nas folhas apicais.<br>
              – Enchimento incompleto das espigas: grãos pequenos, chochos ou frouxos.<br>
              – Multiespigamento.<br>
              – Enfraquecimento do colmo e secamento precoce da planta.</p>

              <h3 style="text-align: left;"><span style="color: #a70631;">Enfezamento vermelho</span></h3>
              <img src="../../../assets/img/artigos/monitoramento/image_04.jpg" alt="">
              <p style="text-align: left;">– Se manifesta no florescimento e na fase de enchimento de grãos.<br>
                – Avermelhamento generalizado da planta a partir das pontas e bordas das folhas até cobri-las por completo.<br>
                – Secamento de folhas.<br>
                – Perfilhamento nas espigas e na base das plantas de milho.<br>
                – Multiespigamento.<br>
                – Enchimento incompleto das espigas: grãos pequenos, chochos ou frouxos.<br>
                – Encurtamento de internódios.</p>

                <h2>Condições de risco de transmissão</h2>
                <p>O tempo para aquisição, latência, inoculação e retenção dos patógenos na cigarrinha depende da temperatura e varia do Spiroplasma para o Phytoplasma. Regiões com média de temperaturas máximas de 27°C a 30°C durante o dia e mínimas de 18°C durante a noite oferecem condições positivas para a aquisição e transmissão do Spiroplasma e Phytoplasma. A cigarrinha pode transmitir o enfezamento pálido ou vermelho para o milho de maneira isolada ou simultânea.</p>
                <p><strong><span style="color: #a70631;">Quando a praga adquire a bactéria? </span></strong><br><em>Spiroplasma:</em> a partir de uma hora de alimentação em planta infectada.<br><em>Phytoplasma:</em> após duas horas de alimentação em planta infectada.</p>
                <p><span style="color: #a70631;"><strong>Quando a praga pode transmitir a bactéria?</strong></span><br><em>Spiroplasma:</em> depois de 17 a 23 dias.<br><em>Phytoplasma:</em> depois de 22 a 28 dias.</p>
                <p><strong><span style="color: #a70631;">Quanto tempo a praga precisa se alimentar do milho para transmitir as bactérias? </span></strong><br><em>Spiroplasma:</em> uma hora.<br><em>Phytoplasma:</em> após 30 minutos de alimentação.</p>
                <p><strong><span style="color: #a70631;">Por quanto tempo a praga pode transmitir a bactéria? </span></strong><br><em>Spiroplasma:</em> aproximadamente 42 dias.<br><em>Phytoplasma:</em> de 29 a 48 dias.</p>
                <h2>Controle do enfezamento</h2>
                <p>Para reduzir e prevenir a manifestação da doença nas lavouras, é necessário manejar a cigarrinha-do-milho praticando o Manejo Integrado de Pragas (MIP). Com um conjunto de diferentes estratégias, o MIP colabora para a redução de danos econômicos de forma sustentável e a longo prazo. Como o complexo do enfezamento é bastante impactante e a praga é migratória, o agricultor deve pensar sempre à frente do tempo.</p>
                <p><strong><span style="color: #a70631;">Tratamento de sementes</span></strong><br>
                  Neonicotinoides são eficientes na fase inicial da lavoura.</p>
                <p><strong><span style="color: #a70631;">Identificação e monitoramento da praga</span></strong><br>
                  De estágio V2 em diante, a planta já é alvo da cigarrinha.</p>
                <p><strong><span style="color: #a70631;">Controle químico</span></strong><br>
                  Com a presença da praga, a planta deve ser protegida até estágio V8.</p>
                <p><strong><span style="color: #a70631;">Cultivares com maior resistência genética</span></strong><br>
                  Seleção de híbrido correto de acordo com região.</p>
                <p><strong><span style="color: #a70631;">Evitar plantios escalonados ou tardios</span></strong><br>
                  De acordo com as épocas do ano, as temperaturas podem ser um agravante.</p>
                <p><strong><span style="color: #a70631;">Erradicação de plantas tigueras ou voluntárias</span></strong><br>
                  Evitar ponte verde.</p>
                <p><strong><span style="color: #a70631;">Rotação de culturas</span></strong><br>
                  Reduz a população da praga, que é monófaga.</p>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>