<ion-content padding>
  <div text-center>
      <img width="200" style="margin-left: 6%;" src="../../../assets/icon/default-logo-vert.svg" />
      <h1>
          Bem-vindo ao <b>Bayer Recomenda</b>
      </h1>
      <p padding-top>
          Feito especialmente para você que deseja cuidar de sua lavoura com mais segurança! Clique em iniciar para visualizar o que a Bayer recomenda tem a oferecer.
      </p>
  </div>

</ion-content>
<ion-footer no-border text-center class="ion-padding">
    <ion-toolbar>
        <ion-button routerLink="/intro" routerDirection="forward" class="default-bayer">Iniciar <img src="../../../assets/icon/arrow-btn.svg" alt=""></ion-button>
      </ion-toolbar>
  </ion-footer>