<ion-header translucent padding no-line no-border>
	<ion-toolbar>
		<ion-buttons style="margin-right: 10%;" slot="secondary">
			<ion-button routerLink="/home/praticas" routerDirection="forward">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
		<ion-title>Biotecnologia</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid fixed>
		<ion-row>
			<ion-col size="12">
				<h1>O MANEJO INTEGRADO DE PRAGAS EM TRÊS PASSOS</h1>
				<p>06/04/2018</p>
			</ion-col>
			<ion-col size="12">
				<ion-slides class="slides" #sliderGuia [options]="slideOpts" paginationType="“bullets”">
					<ion-slide>
						<div>
							<img src="../../../assets/img/artigos/biotecnologia/image_01.jpg" alt="" />
						</div>
					</ion-slide>
				</ion-slides>
				<ion-col size="12">
					<p>
						Como seria alcançar uma maior eficiência no manejo de pragas e plantas daninhas? Quais seriam os impactos, se o agricultor
						realizasse uma série de ações para preservar a tecnologia Bt? Quem realiza o Manejo Integrado de Pragas (MIP) conhece a sua
						importância e os seus benefícios a curto e longo prazo nas lavouras.
					</p>
					<p>Para contribuir para o sucesso em sua lavoura de forma sustentável, conheça e pratique o MIP.</p>
					<p>
						<strong>Manejo Integrado de Pragas</strong><br />
						O MIP é dividido por etapas. O conceito de integração que o nome traz explica que as práticas devem ocorrer de forma conjunta. O
						sucesso dessa estratégia depende diretamente de uma boa execução.
					</p>
					<p>
						<strong><em>1º passo: as decisões do MIP</em></strong>
					</p>
					<p>É hora de começar a plantar. Para iniciar o MIP, o agricultor deve:</p>
					<p>
						– <em>Realizar a dessecação antecipada.</em><br />
						Importante para que a semeadura ocorra no limpo. Elimina a fonte de alimento para pragas resistentes.
					</p>
					<p>
						<img src="../../../assets/img/artigos/biotecnologia/image_02.jpg" alt="" />
					</p>
					<p>
						– <em>Iniciar o monitoramento.</em><br />
						O monitoramento deve ser constante desde o momento em que a área for preparada para receber a lavoura até a colheita. Estar
						presente no campo permite que o agricultor tome as decisões mais eficientes para o sucesso do manejo.
					</p>
					<p>
						– <em>Selecionar o melhor híbrido de milho ou cultivo de soja associado à biotecnologia. </em><br />
						Seguir recomendações específicas para cada tipo de região, clima, população e manejo.
					</p>
					<p>
						– <em>Fazer refúgio.</em><br />
						Plantando sementes sem tecnologia Bt (em 10% da área para milho e 20% para cultura da soja e algodão), permitimos a
						sobrevivência de insetos suscetíveis, que irão acasalar com os possíveis insetos resistentes à biotecnologia. Essa prática gera
						populações de insetos suscetíveis e preserva o potencial das biotecnologias.
					</p>
					<p>
						<img src="../../../assets/img/artigos/biotecnologia/image_03.jpg" alt="" />
					</p>
					<p>
						– <em>Realizar o tratamento de sementes.</em><br />
						Protege a semente de pragas, contribuindo para o MIP durante a fase inicial de desenvolvimento da cultura.
					</p>
					<p>
						<img src="../../../assets/img/artigos/biotecnologia/image_04.jpg" alt="" />
					</p>
					<p>
						<strong><em>2º passo: com a mão na massa</em></strong>
					</p>
					<p>Após a semeadura, a lavoura está se desenvolvendo no campo. O objetivo agora é proteger o seu potencial produtivo:</p>
					<p>
						– <em>Monitoramento e manejo da lavoura</em><br />
						Dividindo a área de milho em talhões de 10 ha a 50 há, é possível avaliar a população de pragas. Na cultura da soja, o pano de
						batida é um recurso essencial para essa tarefa. O nível de dano das plantas e a contagem de pragas devem ser considerados para a
						tomada de decisão.
					</p>
					<p>
						<img src="../../../assets/img/artigos/biotecnologia/image_05.jpg" alt="" />
					</p>
					<p>
						– <em>Aplicação e nível de ação</em><br />
						Acompanhando os indicadores de dano de cada praga, o agricultor pode tomar a decisão correta para realizar o manejo. No caso da
						lagarta-do-cartucho na cultura do milho, por exemplo, talhões que apresentam 10% das plantas com nota maior ou igual a 3 na
						Escala Davis (plantas com raspagens ou pequenos furos) exigem o início de aplicações para manejo químico.
					</p>
					<p>
						De acordo com a Embrapa (Empresa Brasileira de Pesquisa Agropecuária), o nível de dano na cultura da soja, onde o agricultor
						deve optar por uma estratégia de manejo de pragas, é de 30% de desfolha no período vegetativo ou de 15% de desfolha se a cultura
						estiver em fase de desenvolvimento reprodutivo.
					</p>
					<p>
						<img src="../../../assets/img/artigos/biotecnologia/image_06.jpg" alt="" />
					</p>
					<p>
						– <em>Manejo de matocompetição</em><br />
						Tem o objetivo de reduzir a população de plantas daninhas, com a aplicação de herbicidas.
					</p>
					<p>
						<strong><em>3º passo:&nbsp;colheita</em></strong>
					</p>
					<p>
						Você deu todo o suporte para a sua lavoura e vai colher o resultado do seu trabalho. Mas o sucesso pode ser estendido para as
						próximas culturas:
					</p>
					<p>
						– <em>Limpeza de colhedoras</em><br />
						Assim que a colheita é realizada, a colhedora deve ser limpa. No processo de colheita, pode ocorrer a captura de plantas
						daninhas e suas sementes, e se a máquina for utilizada novamente, elas podem voltar para o campo ou chegar em novas áreas.
					</p>
					<p>
						– <em>Manejo pós-colheita</em><br />
						Após a colheita, o manejo eficiente de plantas daninhas reduz o banco de sementes e mantém a área limpa.
					</p>
					<p>
						– <em>Plantio de cobertura</em><br />
						A cobertura evita o pousio e permite que a área seja manejada até o início da próxima cultura.
					</p>
					<p>
						<img src="../../../assets/img/artigos/biotecnologia/image_07.jpg" alt="" />
					</p>
					<p>
						–&nbsp;<em>Monitoramento de cobertura</em><br />
						Se a cobertura for monitorada, pragas e plantas daninhas podem ser controladas antes mesmo do início da lavoura.
					</p>
					<p>
						– <em>Dessecação antecipada</em><br />
						Aqui o ciclo do MIP na lavoura se reinicia entregando a área para a entrada de uma nova cultura.
					</p>
				</ion-col>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
