<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-buttons style="margin-right: 10%;" slot="secondary">
      <ion-button routerLink="/home" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>



      <ion-col size="12"  *ngFor="let item of historics">


        <!-- List of Text Items -->
        <h4 class="date-from-history">{{ item.Key }}</h4>
        <ion-list class="history">

          <ion-item lines="none"  *ngFor="let historic of item.Elements">
            <ion-grid>
              <ion-row>
                <ion-col size="2" class="history-date">
                  <p>{{ historic.weekName }}</p>
                  <p><b>{{ historic.day }}</b></p>
                </ion-col>
                <ion-col size="1" class="icon-c">
                  <img src="../../../assets/icon/circle-icon.svg" alt="">
                </ion-col>
                <ion-col size="9">
                  <h4>{{ historic.title }}</h4>
                  <p>{{ historic.text }} </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
 
 
   
        </ion-list>
      </ion-col>




    </ion-row>
  </ion-grid>
</ion-content>