ion-content{
    ion-list{
        ion-item{
            .history-date{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                p{
                    margin: 0;
                    padding: 0;
                    line-height: 1.5em;
                    text-transform: uppercase;
                    font-weight: 300;
                    text-align: center;
                }
            }

        }
    }
}
.icon-c{
    display: flex !important;
    justify-content: left !important;
    img{

    }
    &:after {
        content: "";
        position: absolute;
        height: 43%;
        width: 2px;
        color: var(--ion-color-primary);
        background: var(--ion-color-primary);
        bottom: 0;
        left: auto;
        margin-left: 4px;
    }
    &:before {
        content: "";
        position: absolute;
        height: 43%;
        width: 2px;
        color: var(--ion-color-primary);
        background: var(--ion-color-primary);
        top: 0;
        left: auto;
        margin-left: 4px;
    }
    &:first-child{
        opacity: 0;
    }
  }
  .site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}