<ion-app>
    <ion-header translucent padding no-line no-border>
        <ion-toolbar >
          <ion-buttons style="margin-right: 10%;" slot="secondary">
            <ion-button routerLink="/home" routerDirection="forward">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
          <ion-title>Recomendações</ion-title>
        </ion-toolbar>
      </ion-header>

  <ion-content padding-start padding-end>
    <img src="../../../assets/img/hand-icon.svg" class="img-centered" />
    <div class="ion-text-center">
      <h2>Escolha qual recomendação
        <br />deseja fazer</h2>
      <p>
        Não sabe quais defensivos utilizar para controlar as pragas que atacam sua lavoura? Escolha entre herbicidas ou
        inseticidas e saiba qual produto e momento mais adequados para manejar sua área.
      </p>
    </div>
    <div text-center class="ion-padding scroll-btn">
        <ion-segment>
            <ion-segment-button style="--ripple-color: transparent;" routerLink="/herbicidas" routerDirection="forward">
              <ion-label>Herbicidas</ion-label>
            </ion-segment-button>
            <ion-segment-button style="--ripple-color: transparent;" routerLink="/inceticidas" routerDirection="forward">
              <ion-label>Inseticidas</ion-label>
            </ion-segment-button>
          </ion-segment>
    </div>
  </ion-content>
</ion-app>