ion-app {


    ion-ripple-effect  {
        display: none;
        
      }

    ion-content {
        h2 {
            margin-top: 1em;
        }

        img {
            display: flex;
            margin: 7vh auto 0;
        }

        p {
            max-width: 500px;
            margin: auto;
            margin-top: 1em;
        }
    }
}

// .header-md:after {
//     background-image: none;
// }

// .scroll-btn {
//     ion-button {
//         --border-color: #f1f1f1;
//         --background: white !important;
//         --color: black;
//     }
// }

ion-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-segment-button {
        position: relative;
        text-align: center;
        color: #fff;
        background-color: transparent;
        font-size: 14px;
        height: 48px;
        cursor: pointer;
        border: 1px dashed darkgray;
        color: black;
        margin: 8px;
        width: 400px;
        max-width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}