<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="ads" src="../../../assets/img/advertencias.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding" no-shadows no-border>
    <ion-toolbar>
        <ion-button routerLink="/termos" routerDirection="forward" class="default-bayer">Toque para continuar <img src="../../../assets/icon/arrow-btn.svg" alt=""></ion-button>
      </ion-toolbar>
  </ion-footer>