<ion-header translucent padding no-line no-border>
	<ion-toolbar>
		<ion-buttons style="margin-right: 10%;" slot="secondary">
			<ion-button routerLink="/home/praticas" routerDirection="forward">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
		<ion-title style="width:90%;">Controle de Plantas Daninhas e Voluntárias</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid fixed>
		<ion-row>
			<ion-col size="12">
				<h1>COMO EVITAR E MANEJAR A TIGUERA OU MILHO RR VOLUNTÁRIO</h1>
				<p>06/06/2018</p>
			</ion-col>
			<ion-col size="12">
				<ion-slides class="slides" #sliderGuia [options]="slideOpts" paginationType="“bullets”">
					<ion-slide>
						<div>
							<img src="../../../assets/img/artigos/controle/image_01.jpg" alt="" />
						</div>
					</ion-slide>
				</ion-slides>
				<ion-col size="12">
					<p>
						Com o objetivo de obter alta produtividade e rentabilidade, é comum a sequência de cultivos nos sistemas extensivos de produção
						agrícola implantados no Brasil, como o caso do plantio de soja seguido pelo cultivo de milho safrinha. Nesse cenário, o
						surgimento do milho tiguera tem se tornado uma ocorrência frequente durante a produção de soja, graças a sua tolerância ao
						glifosato. Dados da Embrapa (Empresa Brasileira de Pesquisa Agropecuária) demonstram que o milho voluntário pode reduzir em até
						50% a produtividade da soja, quando há duas ou três plantas por metro quadrado, devido a matocompetição.
					</p>
					<p>
						Fatores que podem definir a quantidade de plantas de milho voluntária na cultura da soja:<br />
						– Qualidade do plantio.<br />
						– Condução da cultura de milho.<br />
						– Qualidade da colheita.
					</p>
					<p>
						Quanto melhor for a execução dessas operações, menos plantas de milho voluntárias podem surgir durante as culturas sucessoras.
						No entanto, quando são identificadas, o manejo apropriado dessas plantas possibilita um menor risco de perda de produtividade.
					</p>
					<p><strong>O que são as tigueras ou milhos RR voluntários</strong></p>
					<p>
						Seu aparecimento está diretamente ligado ao transporte de grãos e manejo inadequado de herbicidas, mas principalmente com perdas
						de colheita que resultam na queda de grãos ou espigas de milho no solo. Quando são depositados no solo, o contato desses grãos
						com a umidade inicia o processo de germinação e emergência de milhos tiguera de forma sincronizada com a soja.
					</p>
					<p>
						Essas plantas, que apresentam tolerância à ação do glifosato, são capazes de competir com a cultura da soja por luz, água e
						nutrientes, além de servirem de abrigo para insetos-praga e doenças que acarretam grandes riscos para a lavoura. No futuro, o
						desenvolvimento do milho tiguera pode afetar também a operação da colheita.
					</p>
					<p><strong>Como evitar o surgimento de tigueras e manejar as existentes</strong></p>
					<p>
						O manejo de plantas daninhas na cultura de soja compreende não só o controle de espécies normalmente identificadas como
						daninhas, mas também o controle dessas plantas voluntárias, que podem infestar a cultura.
					</p>
					<p>
						Desde a realização da dessecação antecipada, até o uso correto da semeadora e seus componentes ao plantio direto, a adoção de
						boas práticas de cultivo evita o surgimento de tigueras. Realizar uma boa colheita, cuidando para diminuir o percentual de
						perdas de grãos também é uma boa forma de evitar a germinação das tigueras na cultura seguinte.
					</p>
					<p>
						Em lavouras que já tenham a presença de tigueras, é preciso controlar o problema a partir da semeadura da soja, de preferência
						quando as plantas voluntárias ainda estão pequenas (estádios V2 e V3). Para esse manejo, são recomendados herbicidas que
						apresentem mecanismo de ação diferentes do glifosato. O uso de graminicidas em pós-plantio da soja, pré e pós-emergência da
						tiguera é a alternativa mais empregada e eficiente para o controle do milho voluntário.
					</p>
					<p><strong>Lembrete </strong></p>
					<p>
						É possível planejar toda a lavoura, com o objetivo de evitar tiguera. Por isso, opte sempre por híbridos adaptados para a sua
						região. O manejo nutricional adequado e balanceado, manejo de doenças, colheita no momento correto, velocidade de colheita e
						regulagem da colhedora também fazem parte dessa estratégia. A realização de dessecação antecipada e a utilização de boas
						práticas de cultivo são indispensáveis para a redução do surgimento de tigueras dentro da lavoura de soja.
					</p>
				</ion-col>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
