ion-content{
    p{
        font-size: 1.2em;
    }
    ion-input{
        --background-color: #f8f8f8;
        background-color: #F8F8F8;
        max-width: 400px;
        display: flex;
        margin: auto;
    }
    ion-item {
        display: flex;
        margin: auto;
        max-width: 400px;
        font-size: 0.9em
    }
}

.validator-error{
    color: red;
    font-size: 12px;
    text-align: center;
}

.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}