<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-buttons style="margin-right: 10%;" slot="secondary">
      <ion-button routerLink="/home" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>E-mail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (submit)="onSubmit()">
    <ion-grid text-center>
      <ion-row class="custom-margin-top-2">
        <ion-col size="12">
          <img src="../../../assets/icon/email.svg" alt="">
          <h2>Insira seu e-mail</h2>
          <p>Cadastre e receba novidades sobre nossos produtos, noticias entre outras novidades</p>
            <ion-input formControlName="email" name="email" placeholder="Insira seu e-mail" type="email"></ion-input>
            <div *ngIf="!form.controls.email.valid &&
                form.controls.email.dirty"
                class="validator-error">
              Por favor insira um e-mail válido.
            </div>
        </ion-col>
        <ion-col size="12" text-left>
          <ion-item lines="none" text-left>
            <ion-checkbox required color="primary" checked slot="start"></ion-checkbox>
            Autorização do fornecimento de dados, por parte do usuário
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-footer class="ion-padding" no-line no-border>
      <ion-toolbar>
        <ion-button [disabled]="!form.controls.email.valid" type="submit" class="default-bayer secondary">Enviar
          <img src="../../../assets/icon/arrow-btn.svg" alt="">
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
