ion-content {
    ion-label{
        h3{
            font-size: 1.2em;
        }
    }
    label {
        width: 100%;
    }

    ion-avatar {
        min-width: 80px;
        min-height: 80px;
        img{
           width: 100%;
           height: 100%;
        }

        img {
            border-radius: 0;
        }
    }

    ion-list {
        width: 100%;
    }
}

.reduceMargin{
    margin-top: -40px
}
.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}