<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <ion-buttons style="margin-right:10%;" slot="secondary">
      <ion-button routerLink="/home" routerDirection="forward">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-title>Guia de Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="swiper-no-swiping">
  <ion-grid class="reduceMargin" fixed>
    <ion-row>
      <ion-col size="12">
        <h4>Buscador de plantas daninhas e pragas</h4>
        <p>Para saber mais sobre as características específicas de plantas daninhas ou pragas, digite abaixo o nome ou
          consulte nossa lista.</p>
      </ion-col>
      <ion-col size="12">
        <div class="plan">
          <input type="radio" (click)="daninhas()" checked name="radio1" id="daninhas" value="daninhas">
          <label class="free-label four col" for="daninhas">Daninhas</label>
          <input type="radio" (click)="pragas()" name="radio1" id="pragas" value="pragas">
          <label class="basic-label four col" for="pragas">Pragas</label>
        </div>
      </ion-col>
      <ion-col size="12" text-left>
        <!-- <ion-searchbar #searchBar placeholder="Busca rápida" (input)="getItems($event)"></ion-searchbar> -->
        <ion-input [(ngModel)]="inputSearch" class="search-input" #searchBar placeholder="Busca rápida"
          (input)="getItems($event)">
          <img src="../../assets/icon/search-icon.svg" />
        </ion-input>
      </ion-col>
      <ion-col size="12">
        <!-- LISTA DE DANINHAS -->
        <ion-list *ngIf="current === 'Daninhas'" class="myList">
          <!-- <div *ngIf="daninhasLoading">
            <img src="../../assets/img/spinner.svg" />
          </div> -->
          <div>
            <ion-item lines="none" (click)="details(item)" routerDirection="forward" *ngFor="let item of daninhasItens"
              #daninhas>
              <ion-avatar slot="start">
                <div *ngIf="item?.photos?.length > 0">
                  <img src="{{ item.photos[0] }}" />
                </div>
              </ion-avatar>
              <ion-label>
                <h3>{{ item.name }}</h3>
                <p>{{ item.details }}</p>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>

        <!-- SLIDES DE PRAGAS -->
        <ion-list *ngIf="current === 'Pragas'">
          <div>
            <ion-item lines="none" (click)="details(item)" routerDirection="forward" #pragas
              *ngFor="let item of pragasItens">
              <ion-avatar slot="start">
                <div *ngIf="item?.photos?.length > 0">
                  <img src="{{ item.photos[0] }}" />
                </div>
              </ion-avatar>
              <ion-label>
                <h3>{{ item.name }}</h3>
                <p>{{ item.details }}</p>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>

</ion-footer>