<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <ion-buttons style="margin-right: 10%;" slot="secondary">
      <ion-button routerLink="/home" routerDirection="forward">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-title>Meus Cenários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h4>Selecione a categoria que deseja filtrar:</h4>
        <div class="plan">
          <input type="radio" (click)="artigos()" checked name="radio1" id="artigos" value="artigos"><label
            class="free-label four col" for="artigos">Favoritos</label>
          <input type="radio" (click)="videos()" name="radio1" id="videos" value="videos"><label
            class="basic-label four col" for="videos">Histórico</label>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-slides class="slides" #sliderBoasPraticas [options]="slideOpts">
          <ion-slide>
            <ion-list class="myList">

              <ion-item *ngFor="let item of scenariosFavoritos">
                <ion-grid>
                  <ion-row>
                    <ion-col (click)="recomendacaoPage(item)" size="6">
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.dateFormat }}</p>
                    </ion-col>
                    <ion-col size="6" class="flex-item">
                      <ion-icon (click)="editName(item)" name="create"></ion-icon>
                      <ion-icon (click)="confirmDelete(item.id)" name="trash"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

            
            </ion-list>
          </ion-slide>
          <ion-slide>
              <ion-list class="myList">
                <ion-item *ngFor="let item of scenariosHistorico">
                  <ion-grid>
                    <ion-row>
                      <ion-col (click)="recomendacaoPage(item)" size="6">
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.dateFormat }}</p>
                      </ion-col>
                      <ion-col size="6" class="flex-item">
                        <ion-icon (click)="editName(item)" name="create"></ion-icon>
                        <ion-icon (click)="confirmDelete(item.id)" name="trash"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
 
              </ion-list>
            </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>