ion-content{
    ion-list{
        width: 100%;
    }
    label{
        width: 100%;
    }
    p{
        margin: 0;
        padding: 0;
        line-height: 1.2em
    }
    .flex-item{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ion-icon{
            padding-left: 10px
        }
    }
    
    
}
.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}