.welcome-card img {
  max-height: auto;
  overflow: hidden;
}

ion-card {
  border: none;
  box-shadow: none;

  h1 {
    font-weight: 600;
    color: black;
    font-size: 2em;
    margin-bottom: 15px;
  }

  p {
    color: black;
    font-weight: 400;

  }
}

.custom-toolbar {
  height: 90px;

  ion-label {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.title-bar {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 10px auto;
  margin-right: 40%;
  padding-top: 5px;
  max-width: 100px;
}

.header-md:after {
  background-image: none;
}

ion-tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reduceMargin{
  margin-top: -15px;
}

.icons-top{
  display: flex;
  flex-direction: row;
  align-items: center;
}

