<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" style="display: block" /> -->
    <div style="height: 70px; width: 100%"></div>
 
        <ion-input id="search-main" style="display: none" class="search-input" #searchBar placeholder="Busca rápida" (input)="getItems($event)">
          <img src="../../assets/icon/search-icon.svg"/>
        </ion-input>

    <aside class="bar-icons icons-top">
      <ion-icon name="search" (click)="toogleSearchInput()" ></ion-icon>
      <img width="27" src="../../assets/icon/BayerUp.jpeg" />
    </aside>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <ion-card class="welcome-card reduceMargin">

    <ion-card-content *ngIf="!currentValue">
      <h1>{{title}}</h1>
      <p> {{homeText}}</p>
    </ion-card-content>

    <img *ngIf="!currentValue" src="/assets/img/home.png" alt="home img"  />
    <ion-list class="myList" *ngIf="currentValue">
        <ion-item lines="none" (click)="open(item)"  routerDirection="forward" *ngFor="let item of scenariosHistorico">

          <ion-label>
            <h3>{{ item.title }}</h3>
            <p>{{ item.textRecomendacao }}</p>
          </ion-label>

        </ion-item>
    </ion-list>
  </ion-card>
</ion-content>


<ion-footer style="height: 100px">

    <ion-tabs>
        <ion-tab-bar slot="bottom" class="custom-toolbar">
          <ion-tab-button tab="recomendacoes">
            <img src="/assets/img/sprout.svg" alt="Recomendações" />
            <ion-label>Recomendações</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="guia">
            <img src="/assets/img/guia.svg" alt="Guia de Identificação" />
            <ion-label>Guia de Identificação</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="praticas">
            <img src="/assets/img/boas-praticas.svg" alt="Boas Práticas" />
            <ion-label>Boas Práticas</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

</ion-footer>



