<ion-header>
  <ion-toolbar>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-title>como-funciona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
