.bulletText{
  color: #66b512;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: -10px;
  margin-top: 5px;
  width: 100%;
  justify-content: center;

}

h4{
  font-size:20px;
}
.textDesc{
  text-align: justify;
  font-size: 15px;
}
p{
  font-size:15px;
  text-align:left;
}
li{
  font-size:15px;
  text-align: justify;
}

.site-logo {
	position: absolute;
	margin-left: 75%;
	margin-top: -3%;
	display: flex;
	max-width: 100px;
}