<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-buttons style="margin-right: 10%;" slot="secondary">
      <ion-button routerLink="/home/guia" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Guia de Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1>{{ data?.name}} </h1>
        <p>{{ data?.details}} </p>
      </ion-col>
      <ion-col size="12">
        <p>Código: {{ data?.Codigo }}</p>
        <h4>Ocorrência e distribuição no Brasil:</h4>
          <ul>
            <li>Sazonalidade: {{ data?.Sazonalidade }}</li><br/>
            <li>Origem: {{ data?.Origem }}</li><br/>
            <li>Regiões de incidência no Brasil: {{ data?.Incidencia }}</li><br/>
          </ul>
      </ion-col>
      <ion-col size="12">
        <ion-slides (ionSlideWillChange)="handleChange()" pager class="slides" #sliderGuia [options]="slideOpts">

          <ion-slide id="{{i+1}}" class="slide"  *ngFor="let item of data?.photos; let i = index">
            <div>
              <img src="{{ item }}" alt="">
            </div>
          </ion-slide>
        </ion-slides>
        <div class="bulletText">Estágio {{stage}}</div>
        <ion-col size="12">
          <h3>Descrição</h3>
            <h4>Morfologia/Biologia</h4>
              <p class="textDesc">{{ data?.Morfologia}} </p>
            <h4>Metodologia de controle</h4>
              <p class="textDesc">{{ data?.Controle }}</p>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>