<ion-header translucent padding no-line no-border>
	<ion-toolbar>
		<ion-buttons style="margin-right: 0%;" slot="secondary">
			<ion-button routerLink="/home/praticas" routerDirection="forward">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
		<ion-title style="width: 90%">Dessecação Antecipada</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid fixed>
		<ion-row>
			<ion-col size="12">
				<h1>Comece bem com o manejo pré-plantio e pós-emergente</h1>
				<p>06/04/2018</p>
			</ion-col>
			<ion-col size="12">
				<ion-slides class="slides" #sliderGuia [options]="slideOpts" paginationType="“bullets”">
					<ion-slide>
						<div>
							<img src="../../../assets/img/artigos/dessecacao/image_01.jpg" alt="" />
						</div>
					</ion-slide>
				</ion-slides>
				<ion-col size="12">
					<article style="height:auto;overflow:hidden;">
						<p>
							O controle de plantas daninhas é de extrema importância em todas as fases da cultura do milho, e boas estratégias para
							realizar esse manejo podem aproximar o agricultor do sucesso em sua lavoura. Uma boa forma de iniciar a instalação da cultura
							do milho tolerante a glifosato (Roundup Ready) é realizando um correto manejo da área em pré-plantio, e o manejo complementar
							na pós-emergência da cultura. Essas práticas promovem uma produção mais sustentável ambiental e economicamente, além de
							possibilitarem o plantio direto no limpo, evitando matocompetição e os efeitos alelopáticos das plantas daninhas.<br />
							Conheça o benefício dessas práticas.
						</p>
						<p>
							<strong>A importância do manejo pré-plantio</strong><br />
							O plantio direto é implementado em todo o Brasil devido a disponibilidade do herbicida glifosato. O agricultor, que antes
							revolvia a terra com arados, hoje semeia a cultura apenas em um sulco aberto entre a palhada que protege o solo. Mas os
							desafios ainda existem, e são muitos.
						</p>
						<p>Por isso o Manejo pré-plantio é tão importante:</p>
						<p>
							<em>Competição entre plantas</em><br />
							As plantas daninhas competem com a cultura do milho por espaço, luz e nutrientes. Por tanto, o melhor ambiente para o hibrido
							expressar seu potencial produtivo é em áreas livres de plantas daninhas. Quanto antes ocorrer a emergência do milho em relação
							a emergência das plantas daninhas, mais competitivo ele será. Uma área manejada corretamente antes do plantio cria as
							condições ideais para que a emergência da cultura aconteça livre da matocompetição.
						</p>
						<p>
							<em>Qualidade da emergência</em><br />
							Apenas a dessecação pós-colheita não é o suficiente para garantir a implantação da cultura do milho com um bom estande. Não
							realizar o manejo pré-plantio, ou utilizar o “desseque e plante”, pode favorecer o aumento das populações de pragas e a
							incidência de doenças na cultura.
						</p>
						<p>
							<strong>A dessecação antecipada</strong><br />
							A dessecação antecipada é o melhor método de manejo pré-plantio, porque cria as condições ideais para o plantio, germinação e
							emergência da planta do milho de forma uniforme, além de promover:
						</p>
						<p>
							<em>Maior facilidade de plantio</em><br />
							Melhor desempenho das semeadoras, que podem manter a uniformidade da profundidade e velocidade de plantio, e de posicionamento
							de semente.
						</p>
						<p>
							<em>Melhor distribuição de sementes</em><br />
							É mais fácil depositar as sementes e o adubo. Sem matocompetição inicial, não haverá disputa por água, luz e nutrientes,
							gerando maior uniformidade na emergência.
						</p>
						<p>
							<em>Maior armazenamento de água no solo</em><br />
							A dessecação antecipada permite maior acúmulo de água no solo. Após o controle das plantas daninhas, ou manejo da cobertura
							vegetal, é formada uma camada de palhada que protege e preserva a umidade do solo, evitando a perda de água das chuvas, o que
							também favorece a emergência da cultura.
						</p>
						<p>
							<em>Reduz efeitos alelopáticos</em><br />
							As plantas daninhas liberam compostos alopáticos no solo durante sua fase de decomposição. Quando o controle é realizado
							antecipadamente, a cultura é instalada em um período onde esses compostos não causam mais efeito.
						</p>
						<p>
							<em>Redução do ataque inicial de pragas</em><br />
							Com a grande pressão de pragas, a dessecação antecipada é uma ferramenta essencial para o sucesso do Manejo Integrado de
							Pragas (MIP). Eliminando plantas daninhas, eliminamos uma das fontes de alimento das principais pragas da cultura do milho.
						</p>
						<p>
							<em>Melhor desempenho dos herbicidas residuais</em><br />
							Herbicidas residuais são sempre recomendados em áreas com infestações elevadas de plantas daninhas. Em uma área manejada
							antecipadamente, o herbicida residual tem condições mais favoráveis para chegar ao solo e realizar sua ação com eficiência.
						</p>
						<p>
							<strong>O manejo pós-emergente</strong><br />
							Mesmo quando é realizada a dessecação antecipada, plantas daninhas podem germinar após a emergência da cultura do milho. Nessa
							fase, a competição entre a cultura e a planta daninha ainda é preocupante. Para controlar essas plantas e evitar que germinem
							novamente – o que pode atrapalhar o desenvolvimento da cultura -, é recomendado o manejo em pós-emergência, utilizando
							herbicidas residuais, além do glifosato.
						</p>
						<p>
							Por isso, o manejo pós-emergente utilizando <strong>Glifosato e Atrazina como aliados</strong> pode ser muito útil. Com dois
							modos de ação distintos, o controle de plantas daninhas resistentes é mais fácil. Além disso, enquanto o glifosato controla
							plantas emergidas, a atrazina, com sua função de herbicida residual, ajuda a impedir a emergência de plantas daninhas futuras
							por um período de tempo que é relativo a dose utilizada.
						</p>
						<p>
							Essa estratégia segue evitando a matocompetição entre cultura e planta daninha, maneja o desenvolvimento de resistência de
							plantas e facilita o arranque do hibrido de milho.
						</p>
						<p>
							Veja os resultados obtidos com a utilização de glifosato e atrazina para o controle de plantas daninhas e proteção da
							produtividade da cultura:
						</p>
						<p>
							<img src="../../../assets/img/artigos/dessecacao/image_02.png" alt="" />
						</p>
					</article>
				</ion-col>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
