.bg-secondary{
    --background: #345669;
    --color: white;
}

ion-content{
    height: 100vh;
    ion-toolbar{
        --background: #345669;
        --color: white;
        ion-icon{
            fill: white;
      
        }  
    }

    .site-logo{
        max-width: 100px;
    }

}

