<ion-content text-center class="bg-secondary" padding>
<ion-header translucent padding no-line no-border>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button routerLink="/home" fill="white" color="white" routerDirection="forward">
          <ion-icon slot="icon-only"  name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-grid>
  <ion-row>
    <ion-col size="12" class="custom-margin-top"> 
        <img src="../../../assets/icon/logo-white-vert.svg" alt="" class="site-logo">
    <h2>Autorização do fornecimento de dados</h2>  
    <p>Os agrotóxicos são produtos perigosos à saúde humana, animal e ao meio ambiente. Antes de manuseá-los, leia atentamente e siga rigorosamente as recomendações contidas no rótulo, na bula e no receituário agronômico. Utilize sempre os equipamentos de proteção individual. Nunca permita o manuseio de agrotóxicos por menores de idade. Descarte corretamente as embalagens e os restos de produtos. Não reutilize as embalagens vazias. Informe-se sobre a importância do manejo integrado de pragas.</p>
    </ion-col>
    <ion-col size="12" text-center>
        <ion-button   routerLink="/aceito" routerDirection="forward" class="default-bayer secondary">Aceito
            <img src="../../../assets/icon/arrow-btn.svg" alt=""></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
