<ion-header translucent padding no-line no-border>
  <ion-toolbar>
    <img src="../../assets/icon/bayer_cross_black.svg" id="logo-main" class="site-logo" />
    <ion-buttons style="margin-right: 10%;" slot="secondary">
      <ion-button routerLink="/home" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <!-- List of Text Items -->
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="flex-item">
                  <h5>Notificação Institucional</h5>
                  <p>21/mar</p>
                </ion-col>
                <ion-col size="12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis libero id massa
                    malesuada eleifend. Sed placerat facilisis lobortis. </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="flex-item">
                  <h5>Notificação Institucional</h5>
                  <p>21/mar</p>
                </ion-col>
                <ion-col size="12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis libero id massa
                    malesuada eleifend. Sed placerat facilisis lobortis. </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="flex-item">
                  <h5>Notificação Institucional</h5>
                  <p>21/mar</p>
                </ion-col>
                <ion-col size="12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis libero id massa
                    malesuada eleifend. Sed placerat facilisis lobortis. </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="flex-item">
                  <h5>Notificação Institucional</h5>
                  <p>21/mar</p>
                </ion-col>
                <ion-col size="12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis libero id massa
                    malesuada eleifend. Sed placerat facilisis lobortis. </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>